*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body {
	min-height: 100%;
	height: 100%;
	margin: 0;
	position: relative;
}

ul, ol, li, dl, dd {
    margin: 0;
    padding: 0;
}

ul{
	list-style: none;
}

a:focus{
	text-decoration: none;
}

a:focus, ul:focus, button:focus{
	outline: 0 !important;
}

.green{
	color: #6EA12A;
}

.dark-blue{
	color: #2B364A;
}

.blue{
	color: #1AA7F7;
}

.link-img{
	display:inline-block;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
}

.img-circle {
    border-radius: 50%;
}

p.empty{
	text-align: center;
	color: #777;
}

p.center{
	text-align: center;
}

p.bold{
	font-weight: 600;
}

@-webkit-keyframes autofill {
    to {
        color: #999;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #999;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #999;
}

input[type="submit"]{
   outline:none;
}

.left-align{
	float: left;
}

.right-align{
	float: right;
}

.radial-bg {
  background-color: #2F2727;
  background-position: center center;
  background-repeat: no-repeat;

  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2B364A));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #4A5363, #2B364A);

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, #4A5363, #2B364A);

  /* IE 10 */
  background: -ms-radial-gradient(circle, #4A5363, #2B364A);
}

.linear-bg {
  /* fallback */
  background-color: #1AA7F7;
  background-repeat: repeat-y;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#1AA7F7), to(6EA12A));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #6EA12A, #1AA7F7);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #6EA12A, #1AA7F7);

  /* IE 10 */
  background: -ms-linear-gradient(left, #6EA12A, #1AA7F7);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #6EA12A, #1AA7F7);
}

/** Tag Style Start **/

.subject-lbl{
	min-width: 112px;
	line-height: 36px;
	display: inline-block;
	margin: 0 2px 6px 0;
	text-align: center;
	border: 2px solid #F1F1F1;
	background-color: #F1F1F1;
}

.subject-lbl input{
	display: none;
}

.subject-lbl a{
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
	padding: 0 16px;
}

.subject-lbl.selected{
	color: #608908;
	border: 2px solid #a5c85b !important;
}

.icon-check{
	width: 16px;
	height: 16px;
	line-height: 16px;
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-block;
	vertical-align: middle;
	visibility: hidden;
	z-index:9999;
	background: url(../images/elements.png) no-repeat;
}

.subject-lbl.selected .icon-check{
	visibility: visible;
	background-position: -112px -72px !important;
}

/** Tag Style End **/

/** alert start **/

.alert-danger, .alert-success, .alert-warning{
	width: 500px;
	height: 49px;
	top: -49px;
	left: 50%;
	display: none;
	opacity: 0;
	text-align: center;
	position: fixed;
	z-index: 9999;
	transform: translate(-50%, 0);
	box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.alert.appear{
	display: inline-block;
	opacity: 1;
}

/** alert end **/

/** Spinner Start **/

.btn-gp{
	margin-top: 20px;
	position: relative;
}

.spinner{
	color: white;
	display:inline-block;
	position: absolute;
	transform: translate(-50%, -50%);
}

.glyphicon-spinner, .fa-spinner {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin .7s infinite linear;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


/** Spinner End **/


/** Create Lesson Dashboard Start **/

#dash-content{
	padding: 10px 0;
	min-height: 100%;	
}

.dash-bg{
	background-color: #F1F1F1;
}

.dash-block{
	border-radius: 4px;
	background-color: white;
	margin: 0 10px;
	position: relative;
	padding: 15px 0;
}

.dash-block > a{
	width: 150px;
	height: 80px; 	
	vertical-align: middle;
}

#sidebar > p:first-child{
	margin: 10px 0;
	color: #777;
}

.btn-wrap{
	position: absolute;
	top: 50%;
	right: 15px;
	-ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); 
}

.btn-wrap > div{
	display: inline-block;
	position: relative;
}

.btn-wrap .btn{
	color: white !important;
	width: 82px;
	height: 34px;
}

#sidebar {
	position: absolute;
    width: 240px;
    min-height: 638px;
    margin: 10px;
    overflow: hidden;
    outline: none; 
    z-index: 100;
}

.dash-block > p{
	margin-top: 30px;
	margin-bottom: 10px;
	color: #777;
	font-size: 18px;
}

ul.sidebar-menu li {
	position: relative;
    line-height: 15px;
    
}

ul.sidebar-menu li a {
	position: relative;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 15px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a span {
    display: inline-block;
}

ul.sidebar-menu li a.active {
    color:#76abbf !important;
}

ul.sidebar-menu li a.active > i{
	top: 0;
    left: 0;
    background-color: red;
    height: 100%;
    position: absolute;
    width: 5px;
}

ul.sidebar-menu li a > span, i{
	color: inherit;
}

ul.sidebar-menu li a.active > span{
	margin-left: 5px;
	font-weight: 600;
}

#dash-detail-wrap{
    width: 100%;
    margin-top: 10px;
}

#dash-detail{
	margin-left: 260px;
	min-height: 638px;
}

#dash-detail .form-label, #dash-detail .form-input{
	display:inline-block;
}

.dash-detail-header{
	position: relative;
}

.dash-detail-header > p{
	margin: 0 0 30px 0 !important;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
	color: #777;
}

.dash-detail-header  > p.title{
	padding: 10px;
}

.dash-detail-header > a{
	position: absolute;
    top: 0;
    right: 0;
    color: white !important;
    display: inline-block;
}

.dash-detail-header > a > i{
	margin-left: 5px;
	font-size: 120%;
	vertical-align: middle;
}

.dash-detail-header > a.edit-btn{
	right: 85px;
}

.dash-detail-header > a.create-btn{
	right: 10px;
}

/** Create Lesson Dashboard End **/


/** Login start **/

.login-content{
	width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed;
}

.login-form-wrapper{
	display: table-cell;
    vertical-align: middle;
}

.login-form-wrapper form{
	width: 20%;
	min-width: 300px;
	max-width: 480px;
	margin: auto;
}

.line-form{
	margin-top: 20px;
  	border-bottom: 1px solid #999;
}

.line-form input{
	color:#999;
	border: 0;
  	outline: 0;
  	width: 100%;
  	background: transparent;
}

#login-btn{
	width: 100%;
	text-align: center;
	border:none;
	color: white;
	font-size: 1.2em;
	font-weight: 200;
	padding: 10px;
	border-radius: 5px;
}

.login-spinner{
	top: 14px;
	right: 20px;
}

.form-bottom{
	margin-top: 5px;
}

.form-bottom a{
	color: #999;
}

/** Login end **/

/** Error Start **/

.error-body{
	height: 100%;
	background-color: #76abbf;
	text-align: center;
	padding: 60px;
}

.error-body p{
	margin-bottom: 20px;
}

.error-title{
	font-size: 150px;
    color: #577C89;
    text-align: center;
    margin-bottom: 1px;
    text-shadow: 1px 1px 6px #96DAF3;
}

.error-message{
	font-size: 24px;
	font-weight: bold;
	font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.back-btn{
	margin-top: 20px;
	display: inline-block;
	color: white !important;
    background: #577C89;
    text-decoration: none;
    padding: 7px 120px;
    font-size: 13px;
    font-family: arial, serif;
    font-weight: bold;
    -webkit-border-radius: 3em;
    -moz-border-radius: .1em;
    -border-radius: .1em;
}

/** Error End **/

/** Create Company Start ---- Form **/

.mod-form__block-name {
    font-weight: 200;
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #F2F2F2;
}

.wrap-step-2 {
    padding: 0 30px;
    overflow: hidden;
}

#company-form .form-label{
	width: 150px;
	display:inline-block;
	vertical-align: top;
}

#company-form .form-input{
	width: 400px;
	display:inline-block;
}

#company-form .long-txt{
	width: 70%;
}

.uploader input[type=file]{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.uploader-wrapper{
	display:inline-block;
}

.uploader{
	width: 18%;
	padding:10px;
	max-width: 800px;
	min-height: 80px;
	display: inline-block;
	margin: 0 15px 15px 0;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	vertical-align: bottom;
	border: 2px dashed #C8CBCE;
	text-align: center;
	font-size: 20px;
	background: #F9FBFE;
}

#logo-uploader-wrapper{
	width: 125px;
	height: 125px;
}

#lh-uploader-wrapper{
	width: 800px;
	height: 80px;
}

.uploader i{
	color: #97A1A8 !important;
}

.upload-text p {
    margin: 0;
    font-size: 0.7em;
    font-weight: 200;
    color: #97A1A8 !important;
}

.upload-text span {
    font-size: 0.5em;
    display:inline-block;
    color: #97A1A8 !important;
}

.browse-btn {
	color: #76abbf;
    display: inline-block;
    position: relative;
    outline: 0;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-weight: 200;
    font-size: 1.0em;
    background-color: transparent;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .05);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.browse-btn:hover {
    border-color: transparent;
    color: #fff !important;
    background: #76abbf;
}

#logo-uploader-wrapper .browse-btn{
	font-size: 0.78em;
}

.browse-btn > div{
	position: absolute;
    opacity: 0;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

input.file-input{
    opacity: 0;
    margin: 0;
    height: 100%;
}

.upload-tips p{
	color: #777;
}

.institution-tip{
	line-height: 34px;
}

.form-join{
	margin: 0 5px;
}

#logo-link, #lh-link{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
}

#company-form .form-submit{
	margin-top: 50px;
}

#company-form label.error{
	width: 100%;	
}

.upload-wrap > label.error{
	font-size: 14px;
    margin-top: 15px;
}

/** Create Company End ---- Form **/

/** Create QP Account Start ---- Form **/

.tb-form{
	width: 100%;
 	margin-bottom: 30px;
}

.tb-form .form-input{
	width: 80%;
    display: block !important;
}

.tb-header{
	height: 40px;
	line-height: 40px;
	background-color: #777;
	color: white;
	font-weight: 600;
	font-size: 1.2em;
	text-align: center;
	
}

.branch-lbl{
	display: block !important;
}

.action-btn{
	margin: 0 5px;
}

/** Create QP Account End ---- Form **/

/** Company Start **/
.company-header{
	height: 40px;
	line-height: 40px;
	font-weight: 600;
	font-size: 1.2em;
	text-align: center;
}

.company-content{
	padding: 0 30px;
}

.company-content #logo-uploader-wrapper{
	vertical-align: top;
}

.company-content .form-label{
	display: block !important;
}

#company-bacic-form{
    display: inline-block;
    vertical-align: top;
    padding-left: 25px;
}

#company-bacic-form .form-group{
	width: 632px;
}

#company-bacic-form .form-input{
	width: 100% !important;
}

#save-btn{
	width: 57px;
	height: 34px;
	float: right;
}

#logo-uploader-wrapper i{
	top: 40px;
}


/** Company End **/

/** Add Engineer Start **/

.eng-content{
	width: 100%;
	min-height: 100%;
}

.left-body{
	position: absolute;
    width: 40%;
    padding: 0 30px;
    min-height: 100%;
    overflow: hidden;
    outline: none;
    z-index: 100;
}

.right-body{
    width: 100%;
    height: 100%;
}

.right-detail{
	margin-left: 45%;
    min-height: 100%;
    padding-top: 93px;
}

.search-wrapper{
	position: relative;
	margin-bottom: 30px;
}

.search-bar-title{
	color: #777;
}

.search-btn{
    position: absolute;
    right: 0;
    top: 25px;
}

.eng-list{
	padding:10px;
   	border: 1px solid #ccc;
   	max-height: 400px;
   	overflow-y: scroll;
}

.eng-list > li{
	height: 72px;
	padding: 5px 0;
	position: relative;
	border-bottom: 1px solid #ccc;
}

.eng-list button{
	position: absolute;
	right: 0;
	top: 19.5px;
}

.eng-info .spinner{
	right: 18px;
    top: 30px;
}

/** Add Engineer End **/

/** Checkbox Start **/
.chx-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chx-container input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.chx-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.chx-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.chx-container input:checked ~ .checkmark:after {
    display: block;
}

.chx-container .checkmark:after {
    left: 9px;
    top: 4px;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/** Checkbox End **/

/** Footer start **/

footer{
	height: 30px;
	line-height: 30px;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	text-align: center;
  	color: #999;
  	font-weight: 200;
  	font-size: 0.8em;
  	background-color: #F1F1F1;
}

/** Footer end **/