*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body {
	min-height: 100%;
	height: 100%;
	margin: 0;
	position: relative;
}

iframe {
	margin: none;
    padding: none;
    border: none;
    line-height: 0;
    float: left;
}

ul, ol, li, dl, dd {
    margin: 0;
    padding: 0;
}

ul{
	list-style: none;
}

a:focus{
	text-decoration: none;
}

a:focus, ul:focus, button:focus{
	outline: 0 !important;
}

input[type="radio"]{
 	margin: 0 5px 5px 5px;
}

.link-img{
	display:inline-block;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.green{
	color: #6EA12A;
}

.dark-blue{
	color: #2B364A;
}

.blue{
	color: #1AA7F7;
}

.link-img{
	display:inline-block;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
}

.img-circle {
    border-radius: 50%;
}

a.action-btn{
	color: #676a6c;
	padding: 2px 8px;
	display: inline-block;
	border: 1px solid #676a6c;
	margin: -3px 0;
	min-width: 64px;
}

a.approve-action{
	color: #5ED531;
	border: none;
	line-height: 42px;
	vertical-align: top;
}

a.reject-action{
	color: #F9054F;
	border: none;
	line-height: 42px;
	ertical-align: top;
}

a.disabled{
	color: #777;
}

p.empty-title{
	color: #676a6c;
	font-size: 16px;
	font-weight: 600;
	margin-top: 100px;
	margin-bottom: 20px;
}

p.empty{
	color: #676a6c;
	font-size: 14px;
	margin-bottom: 30px;
}

p.center{
	text-align: center;
}

p.bold{
	font-weight: 600;
}

.form-group{
	margin-bottom: 20px !important;
}

ul.directory {
	margin-bottom: 10px;
	padding-left: 10px;
}

ul.directory li.directory-link {
	display: inline-block;
}

ul.directory li.directory-link a {
	text-decoration: none;
	color: inherit;
}

ul.directory li.slash {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	color: #ccc;
}

ul.directory li.current {
	display: inline-block;
	font-weight: bold;
}

@-webkit-keyframes autofill {
    to {
        color: #999;
        background: #ffffff;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #999;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #999;
}

input[type="submit"]{
   outline:none;
}

.left-align{
	float: left;
}

.right-align{
	float: right;
}

.left-content{
	text-align: left;
}

.right-content{
	text-align: right;
}

.center-align{
	text-align: center;
}

.radial-bg {
  background-color: #f3f3f4;
  background-position: center center;
  background-repeat: no-repeat;

  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2B364A));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #4A5363, #2B364A);

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, #4A5363, #2B364A);

  /* IE 10 */
  background: -ms-radial-gradient(circle, #4A5363, #2B364A);
}

.linear-bg {
  /* fallback */
  background-color: #1AA7F7;
  background-repeat: repeat-y;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#1AA7F7), to(6EA12A));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #6EA12A, #1AA7F7);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #6EA12A, #1AA7F7);

  /* IE 10 */
  background: -ms-linear-gradient(left, #6EA12A, #1AA7F7);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #6EA12A, #1AA7F7);
}

/** Tag Style Start **/

.subject-lbl{
	min-width: 112px;
	line-height: 36px;
	display: inline-block;
	margin: 0 2px 6px 0;
	text-align: center;
	border: 2px solid #F1F1F1;
	background-color: #F1F1F1;
}

.subject-lbl input{
	display: none;
}

.subject-lbl a{
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
	padding: 0 16px;
}

.subject-lbl.selected{
	color: #608908;
	border: 2px solid #a5c85b !important;
}

.icon-check{
	width: 16px;
	height: 16px;
	line-height: 16px;
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-block;
	vertical-align: middle;
	visibility: hidden;
	z-index:999;
	background: url(../images/elements.png) no-repeat;
}

.subject-lbl.selected .icon-check{
	visibility: visible;
	background-position: -112px -72px !important;
}

/** Tag Style End **/

/** alert start **/

.alert-danger, .alert-success, .alert-warning{
	width: 500px;
	height: 49px;
	top: -49px;
	left: 50%;
	display: none;
	opacity: 0;
	text-align: center;
	position: fixed;
	z-index: 9999;
	transform: translate(-50%, 0);
	box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.alert.appear{
	display: inline-block;
	opacity: 1;
}

/** alert end **/

/** Spinner Start **/

.btn-gp{
	margin-top: 20px;
	position: relative;
}

.spinner{
	color: white;
	display:inline-block;
	position: absolute;
	transform: translate(-50%, -50%);
}

.glyphicon-spinner, .fa-spinner {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin .7s infinite linear;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


/** Spinner End **/


/** Checkbox Start **/
.chx-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chx-container input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.chx-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.chx-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.chx-container input:checked ~ .checkmark:after {
    display: block;
}

.chx-container .checkmark:after {
    left: 9px;
    top: 4px;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/** Checkbox End **/


/** Create Lesson Dashboard Start **/

#dash-content{
	min-height: calc(100% - 30px);
}

.dash-bg{
	background-color: #f3f3f4;
}

.dash-block{
	border-radius: 4px;
	background-color: white;
	margin: 0 10px;
	position: relative;
	padding: 15px;
	border-color: #e7eaec;
	border-style: solid solid none;
	border-width: 1px 0;
}

.dash-block-title {
	margin: -15px -15px 0 -15px;
	padding: 15px;
	border-bottom: 1px solid #e7eaec;
	font-size: 14px;
}

.dash-block > a{
	width: 150px;
	height: 80px;
	vertical-align: middle;
}

.dash-sidebar{
	background-color: #2f4050;
	position: relative;
	padding-bottom: 15px;
}

.dash-sidebar > a{
	width: 150px;
	height: 80px;
	vertical-align: middle;
}

#sidebar > p:first-child{
	margin: 10px 0;
	color: #777;
}

.btn-wrap{
	position: absolute;
	top: 50%;
	right: 15px;
	-ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.btn-wrap > div{
	display: inline-block;
	position: relative;
}

.btn-wrap .btn{
	color: white !important;
	width: 82px;
	height: 34px;
}

#sidebar {
	position: fixed;
  min-width: 220px;
  max-width: 220px;
    left: 0;
    bottom: 0;
    top: 0;
    overflow-y: auto;
    outline: none;
    z-index: 100;
  transition: all 0.3s;
}

.dash-block > p{
	margin-top: 30px;
	margin-bottom: 10px;
	color: #777;
	font-size: 18px;
}

ul.sidebar-menu li {
	position: relative;
    line-height: 15px;

}

ul.sidebar-menu li a {
	position: relative;
    text-decoration: none;
    display: block;
    padding: 14px 20px; 14px 25px;
    font-size: 13px;
    color: #a7b1c2 !important;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a:hover {
	color: #ffffff !important;
	background-color: #293846;
}

ul.sidebar-menu li a span {
    display: inline-block;
}

ul.sidebar-menu li a i {
    margin-right: 6px;
}

ul.sidebar-menu li a.active {
    color:#ffffff !important;
    background-color: #293846;
}

ul.sidebar-menu li a.sidebar-header {
	background-image: url("/assets/images/header-profile.png");
	height: 156px;
	padding: 33px 10px 33px 20px;
}
ul.sidebar-menu li a.sidebar-header .sidebar-name {
	color: white !important;
	display: block;
	margin-bottom: 4px;
}

ul.sidebar-menu li a.sidebar-header .sidebar-role {
	color: #8095a8 !important;
	display: block;
}

ul.sidebar-menu li a img {
	height: 48px;
	width: 48px;
	border-radius: 50%;
	margin-bottom: 5px;
}

ul.sidebar-menu li a.active > i{
	top: 0;
    left: 0;
    border-left: 4px solid #19aa8d;
    padding: 14px 20px;
    position: absolute;
    width: 20px;
}

ul.sidebar-menu li a > span, i{
	color: inherit;
}

ul.sidebar-menu li a.active > span{
	margin-left: 25px;
	font-weight: 600;
}

ul.sidebar-menu li a.active > span{
  font-weight: 600;
}

.topbar {
  margin-left: 220px;
  height: 55px;
  display: flex;
  border-bottom: 1px solid #e7eaec;
  transition: all 0.3s;
}

#dash-detail-wrap{
    width: 100%;
}

.header-tb{
	width: 100%;
}

#dash-detail{
	margin-left: 220px;
	min-height: calc(100% - 85px);
  transition: all 0.3s;
}

#dash-detail .form-label, #dash-detail .form-input{
	display:inline-block;
}

.dash-detail-header{
	position: relative;
	width: 100%;
	background-color: white;
	padding: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #e7eaec;
}

.dash-detail-header > p{
	padding: 10px 0;
	color: #676a6c;
	font-size: 24px;
	font-weight: 120;
	margin-bottom: 0 !important;
	vertical-align: middle;
}

.dash-detail-header  > p.title{
	padding: 10px;
}

.dash-detail-header > a{
    color: white !important;
    position: absolute;
    top: 20px;
}

.dash-detail-header > a > i{
	margin-left: 5px;
	font-size: 120%;
}

.dash-detail-header > a.edit-btn{
	right: 85px;
}

.dash-detail-header > a.create-btn{
	right: 10px;
}

.navbar {
	color: #888888 !important;
}

.topbar .label {
	line-height: 12px;
	padding: 2px 5px;
	position: relative;
	right: 9px;
	top: -10px;
}

/** Create Lesson Dashboard End **/


/** Login start **/

.login-content{
	width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed;
    background-color: #f3f3f4;
}

.login-form-wrapper{
	display: table-cell;
    vertical-align: middle;
}

.login-form-wrapper form{
	width: 20%;
	min-width: 300px;
	max-width: 480px;
	margin: auto;
}

#login-icon {
	font-size: 170px;
	color: #e6e6e6;
	margin-bottom: 20px;
}

.login-form-wrapper p {
	font-size: 16px;
	margin-bottom: 25px;
}

.line-form{
	margin-top: 15px;
}

.line-form input{
	color:#999;
  	width: 100%;
  	background:-color: #ffffff;
  	border: 1px solid #e5e6e7;
  	padding: 6px 12px;
  	font-size: 14px;
}

#login-btn{
	width: 100%;
	text-align: center;
	border:none;
	color: white;
	font-size: 1.2em;
	font-weight: 200;
	padding: 6px 12px;
	border-radius: 5px;
}

.login-spinner{
	top: 10px;
	right: 20px;
}

.form-bottom{
	margin-top: 5px;
}

.form-bottom a{
	color: #999;
}

/** Login end **/

/** Error Start **/

.error-body{
	height: 100%;
	background-color: #76abbf;
	text-align: center;
	padding: 60px;
}

.error-body p{
	margin-bottom: 20px;
}

.error-title{
	font-size: 150px;
    color: #577C89;
    text-align: center;
    margin-bottom: 1px;
    text-shadow: 1px 1px 6px #96DAF3;
}

.error-message{
	font-size: 24px;
	font-weight: bold;
	font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.back-btn{
	margin-top: 20px;
	display: inline-block;
	color: white !important;
    background: #577C89;
    text-decoration: none;
    padding: 7px 120px;
    font-size: 13px;
    font-family: arial, serif;
    font-weight: bold;
    -webkit-border-radius: 3em;
    -moz-border-radius: .1em;
    -border-radius: .1em;
}

/** Error End **/

/** Create Company Start ---- Form **/

.mod-form__block-name {
    font-weight: 200;
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #F2F2F2;
}

.wrap-step-2 {
    padding: 0 30px;
    overflow: hidden;
}

#company-form .form-label{
	width: 150px;
	display:inline-block;
	vertical-align: top;
}

#company-form .form-input{
	width: 400px;
	display:inline-block;
}

#company-form .long-txt{
	width: 70%;
}

.uploader input[type=file]{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.uploader-wrapper{
	display:inline-block;
	position: relative;
}

.uploader{
	width: 18%;
	padding:10px;
	max-width: 800px;
	min-height: 80px;
	display: inline-block;
	margin: 0 15px 15px 0;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	vertical-align: bottom;
	border: 2px dashed #C8CBCE;
	text-align: center;
	font-size: 20px;
	background: #F9FBFE;
}

#logo-uploader-wrapper{
	width: 125px;
	height: 125px;
}

#lh-uploader-wrapper{
	width: 100%;
	padding-top: 10%;
}

.uploader i{
	color: #97A1A8 !important;
}

.upload-text p {
    margin: 0;
    font-size: 0.7em;
    font-weight: 200;
    color: #97A1A8 !important;
}

.upload-text span {
    font-size: 0.5em;
    display:inline-block;
    color: #97A1A8 !important;
}

.browse-btn {
	color: #76abbf;
    display: inline-block;
    position: relative;
    outline: 0;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-weight: 200;
    font-size: 1.0em;
    background-color: transparent;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.browse-btn:hover {
    border-color: transparent;
    color: #fff !important;
    background: #76abbf;
}

#logo-uploader-wrapper .browse-btn{
	font-size: 0.78em;
}

.browse-btn > div{
	position: absolute;
    opacity: 0;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

input.file-input{
    opacity: 0;
    margin: 0;
    height: 100%;
}

.upload-tips p{
	color: #777;
}

.institution-tip{
	line-height: 34px;
}

.form-join{
	margin: 0 5px;
}

#logo-link, #lh-link{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
}

#company-form .form-submit{
	margin-top: 50px;
}

#company-form label.error{
	width: 100%;
}

.upload-wrap > label.error{
	font-size: 14px;
    margin-top: 15px;
}

#signature{
	opacity: 0;
}

/** Create Company End ---- Form **/

/** Create QP Account Start ---- Form **/

.tb-form{
	width: 100%;
}

.tb-form .form-input{
	width: 80%;
    display: block !important;
}

.tb-header{
	line-height: 30px;
	border-bottom: 1px solid #e7eaec;
	font-weight: 600;
	font-size: 14px;
	margin: 0 -30px 15px -30px;
}

.branch-lbl{
	display: block !important;
}

.action-btn{
	margin: 0 5px;
}

/** Create QP Account End ---- Form **/

/** Company Start **/
.company-header{
	height: 40px;
	line-height: 40px;
	font-weight: 600;
	font-size: 1.2em;
	text-align: center;
}

.company-content{
	border-radius: 4px;
	background-color: white;
	margin: 0 10px;
	position: relative;
	padding: 15px 30px;
	border-color: #e7eaec;
	border-style: solid solid none;
	border-width: 1px 0;
  width: calc(100% - 20px);
}

.company-content #logo-uploader-wrapper{
	vertical-align: top;
}

.company-content .form-label{
	display: block !important;
}

#company-bacic-form{
    display: inline-block;
    vertical-align: top;
    padding-left: 25px;
}

#company-bacic-form .form-group{
  width:100%;
  max-width: 632px;
  left-padding=

}

#company-bacic-form .form-input{
	width: 100% !important;
}

#save-btn{
	width: 57px;
	height: 34px;
	float: right;
}

#logo-uploader-wrapper i{
	top: 40px;
}

/** Company End **/

/** Add Engineer Start **/

.eng-content{
	width: 100%;
	min-height: 500px;
}

.left-body{
	position: absolute;
    width: 50%;
    padding: 0 30px;
    min-height: 400px;
    overflow: hidden;
    outline: none;
    z-index: 100;
}

.right-body{
    width: 100%;
    min-height: 400px;
}

.right-detail{
	margin-left: 55%;
    min-height: 100%;
    padding-top: 93px;
}

.search-wrapper{
	position: relative;
	margin-bottom: 30px;
}

.search-bar-title{
	color: #777;
}

.search-btn{
    position: absolute;
    right: 0;
    top: 0;
}

.eng-list{
	padding:10px;
   	border: 1px solid #ccc;
   	max-height: 400px;
   	overflow-y: auto;
}

.eng-list > li{
	height: 72px;
	padding: 5px 0;
	position: relative;
	border-bottom: 1px solid #ccc;
}

.eng-list button{
	position: absolute;
	right: 0;
	top: 19.5px;
}

.eng-info .spinner{
	right: 18px;
    top: 30px;
}

.eng-search {
	width: calc(100% - 80px) !important;
}

/** Add Engineer End **/

/** Create Project Start **/

.pro-sec{
	margin: 30px;
	background-color: #fafafa;
}

.full-width{
	width: 100%;
}

.date-group{
	width: 48%;
	display: inline-block;
}

.sec-body{
	padding: 15px 30px;
}

.acc-group{
	padding: 15px;
}

.acc-info{
	background-color: #f3f3f4;
	padding: 10px;
	min-height: 130px;
	position: relative;
}

.acc-info > p{
	text-align: center;
	margin:0;
}

.acc-info > a.add-btn{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	font-size: 5.0em;
}

.acc-info > a.minus-btn{
	position: absolute;
	color: red;
	top: -12px;
    right: -6px;
    font-size: 1.5em;
}

.acc-name{
	font-size: 1.2em;
}

#project-form input[type="submit"]{
	float: right;
	margin-right: 30px;
}

#project-form .tb-header {
	margin: 0 0 5px 0;
}

p.work-type{
	margin:0;
	padding:0;
}

.acc-group i.spinner{
	color: black;
	top: 45%;
    left: 45%;
}

#qp-search, #inspector-search {
	position: absolute;
	top: 33px;
}

/** Create Project End **/

/** Document Format Start **/

.format-content{
	padding: 15px;
}

.doc-preview{
	width: 100%;
	padding-top: 100%;
    display: inline-block;
    position:relative;
    margin-bottom: 5px;
}

.doc-preview:hover{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.08);
}

p.doc-title{
	color: #676a6c;
	font-size: 1.2em;
}

.doc-wrap{
	padding: 10px 10px 10px 10px;
	background-color: #f3f3f4;
	margin-bottom: 20px;
	text-align: center;
}

.caption{
	width: 100%;
}

.doc-item{
	margin-bottom: 10px;
}

/** Document Format End **/

/** Upload Drawing File Start **/

.drawing-body{
	margin: 60px;
}

#upload-draw-form{
	margin-top: 30px;
}

#draw-uploader-wrapper{
	vertical-align: top;
}

.draw-right{
	display: inline-block;
	vertical-align: top;
    padding-left: 25px;
    width: calc(100% - 150px);
}

.draw-right .form-group{
	width: 100%;
}

.draw-right .form-input{
	width: 100%;
}

.draw-right .input-wrapper{
	padding: 0 5px;
	margin-bottom: 10px;
}
.draw-right .form-group .row{
	margin-left: -5px;
	margin-right: -5px;
}

.loc-input{
	display: inline-block;
	text-align: center;
	border: 1px solid #ccc;
	padding: 5px 8px;
	border-radius: 10px;
	width: 100%;
}

#upload-draw-form .btn-wrapper > button{
	margin: 0 5px;
	float: right;
}

#draw-uploader-wrapper{
	width: 125px;
	height: 125px;
}

#draw-uploader-wrapper .browse-btn{
	font-size: 0.8em;
}

/** Upload Drawing File End **/

/** Dash Tab Bar Start **/

.dash-tab-header{
	margin: -15px -15px 0 -15px;
	background-color: #fafafa;
}

.tab-bar > li{
	display: inline-block;
}

.tab-bar > li:hover{
	background-color: #18a689;
}

a.tab-link{
	display: block;
	padding: 15px 40px;
	color: #777 !important;
	text-decoration: none;
}

a.tab-link:hover{
	color: white !important;
}

.tab-bar > li.active{
	background-color: #1ab394;
}

.tab-bar > li.active a{
	color: white !important;
}

/** Dash Tab Bar End **/

/** Create COS Start  **/

.cos-bg{
	background-color: #F1F1F1;
	padding-bottom: 30px;
}

.a4{
	width: 60%;
	height: auto;
	min-height: 900px;
	background-color: white;
	display: block;
	margin: auto;
	padding: 10px 40px;
}

p.cos-header{
	color: #777;
	padding: 30px 0;
	font-weight: 600;
	font-size: 1.2em;
}

p.cos-subheader{
	color: #777;
	font-weight: 600;
	font-size: 1.2em;
}

p.cos-content{
	margin-bottom: 20px;
}

.value-box{
	display: inline-block;
	width: 100%;
}

.opt-wrapper > p.ques{
	margin:0;
}

.opt-list{
	display:inline-block;
}

.opt-list > li{
	display: inline-block;
	margin: 10px 2px;
	padding: 5px 10px;
	border: 1px solid #ccc;
}

.opt-list > li.selected, .opt-list > li.selected:hover{
	background-color: #98FB98;
}

.opt-list > li:hover, .remark-block button:hover{
	background-color: #eee;
}

.remark-block{
	display: inline-block;
	margin-left: 10px;
}

.remark-btn{
	padding: 5px 10px;
	border: 1px solid #ccc;
	display: inline;
}

.remark-btn.selected{
	background-color: #eee;
}

.cos-uploader-wrapper{
	width: 100%;
	height:90px;
}

#canvas{
	border:1px solid #ccc;
}

#cos-form #submit{
	float: right;
}

#cos-form .form-input{
	display: block;
}

.submit-wrapper{
	position: relative;
}

.submit-wrapper > i.spinner{
	right: 28px;
    top: 10px;
}

i.draw-btn{
	position: absolute;
	font-size: 20px;
	right: 8px;
	top: 8px;
	z-index:100;
}

.drawing-content{
	width: 100%;
	height: auto;
}

#draw-model .canvas-container{
	position: absolute !important;
    top: 15px;
	z-index: 102;
}
#draw-model .drawing-layer{
	position: absolute !important;
	top: 15px;
	display:inline-block;
	z-index:101;
}

#draw-model .modal-dialog{
	width: 900px !important;
}

.note-title{
	padding: 10px;
	color: #676a6c;
	font-size:2.0em;
    font-weight: 200;
    margin-bottom: 0 !important;
    vertical-align: middle;
}

#inspect-form .submit-wrapper{
	text-align: right;
}

.cos-link{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
}

@media only screen and (max-width: 980px) {
    .a4 {
        width: 100%;
    }
}

/** Create COS End  **/

/** Inspect COS Start **/

.cos-sec{
	margin: 10px 0;
}

p.sec-header{
	margin-top: 30px;
	padding: 15px;
	background-color: #eee;
}

/** Inspect COS End **/

/** Approve COS Start **/

.reason-item{
	display: inline-block;
    height: 36px;
    padding: 4px 8px;
    line-height: 30px;
    background-color: #eee;
    border-radius: 16px;
}

.long-txt{
	width: 100%;
	margin-top: 30px;
}

#sign-wrapper .submit-wrapper{
	text-align: right;
}
/** Approve COS End **/

/** Footer start **/

footer{
	height: 30px;
	line-height: 30px;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding-left: 220px;
  	text-align: center;
  	color: #676a6c;
  	font-weight: 200;
  	font-size: 0.8em;
  	background-color: #f3f3f4;
}

.main-footer{
	padding-left: 0 !important;
}

footer p.copy-right {
	margin-bottom: 0;
}

/** Footer end **/

/** Landing page start **/

.landing-page .navbar-wrapper {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 200;
}
.landing-page .navbar-wrapper > .container {
	padding-right: 0;
	padding-left: 0;
}
.landing-page .navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
}
.landing-page .navbar-default{
	background-color: transparent;
	border-color: transparent;
	transition: all 0.3s ease-in-out 0s;
}
.landing-page .navbar-default.navbar-scroll{
	background-color: #fff;
	border-color: #fff;
	padding: 15px 0;
}
.landing-page .navbar-default .navbar-brand {
	color: #fff;
	height: auto;
	display: block;
	font-size: 14px;
	background-color: #1ab394;
	padding: 15px 20px 15px 20px;
	border-radius: 0 0 5px 5px;
	font-weight: 700;
	transition: all 0.3s ease-in-out 0s;
}
.landing-page .navbar-default .navbar-brand:hover,
.landing-page .navbar-default .navbar-brand:focus {
	background-color: #179d82;
	color: #fff;
}
.landing-page .navbar.navbar-scroll .navbar-brand {
	margin-top: 15px;
	border-radius: 5px;
	font-size: 12px;
	padding: 10px;
	height: auto;
}
.landing-page .navbar-default .nav li a {
	color: #fff;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 14px;
}
.landing-page .navbar-nav >li > a {
	padding-top: 25px;
	border-top: 6px solid transparent;
}
.landing-page .navbar-default .navbar-nav > .active > a,
.landing-page .navbar-default .navbar-nav > .active > a:hover {
	background: transparent;
	color: #fff;
	border-top: 6px solid #1ab394;
}
.landing-page .navbar-default .navbar-nav > li > a:hover,
.landing-page .navbar-default .navbar-nav > li > a:focus {
	color: #1ab394;
	background: inherit;
}
.landing-page .navbar-default .navbar-nav > .active >a:forcus {
	background: transparent;
	color: #fff;
}
.landing-page .navbar-default.navbar-scroll .navbar-nav > .active > a:focus {
	background: transparent;
	color: inherit;
}
.landing-page .navbar-scroll.navbar-default .nav li a {
	color: #676a6c;
}
.landing-page .navbar-scroll.navbar-default .nav li a:hover {
	color: #1ab394;
}
.landing-page .navbar-wrapper .navbar.navbar-scroll {
	padding-top: 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #e7eaec;
	border-radius: 0;
}
.landing-page .nav > li.active {
	border: none;
	background: inherit;
}
.landing-page .nav > li > a {
	padding: 25px 10px 15px 10px;
}
.landing-page .navbar-scroll .navbar-nav > li > a {
	padding: 20px 10px;
}
.landing-page .navbar-fixed-top {
	border: none !important;
}
.landing-page .navbar-fixed-top.navbar-scroll {
	border-bottom: 1px solid #e7eaec !important;
}
.landing-page .carousel {
	height: 470px;
}
.landing-page .header-back {
	height: 470px;
	width: 100%;
}
.landing-page .header-back.one {
	background: url('/assets/images/header_one.jpg') 50% 0 no-repeat;
}
.landing-page .header-back.two {
	background: url('/assets/images/header_two.jpg') 50% 0 no-repeat;
}
.landing-page .carousel-caption {
	z-index: 10;
}
.landing-page .carousel .item {
	height: 470px;
	background-color: #777;
}
.landing-page .carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 470px;
}
.landing-page .carousel-fade .carousel-inner .item {
	opacity: 0;
	-webkit-transition-property: opacity;
	transition-property: opacity;
}
.landing-page .carousel-fade .carousel-inner .active {
	opacity: 1;
}
.landing-page .carousel-fade .carousel-inner .active.left,
.landing-page .carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}
.landing-page .carousel-fade .carousel-inner .next.left,
.landing-page .carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.landing-page .carousel-fade .carousel-control {
	z-index: 2;
}
.landing-page .carousel-control.left,
.landing-page .carousel-control.right {
	background: none;
}
.landing-page .carousel-control {
	width: 6%;
}
.landing-page .carousel-inner .container {
	position: relative;
	overflow: visible;
}
.landing-page .carousel-inner {
	overflow: visible;
}
.landing-page .carousel-caption {
	position: absolute;
	top: 120px;
	left: 0;
	bottom: auto;
	right: auto;
	text-align: left;
}
.landing-page .carousel-image {
	position: absolute;
	right: 10px;
	top: 150px;
}
.landing-page .carousel-indicators {
	padding-right: 60px;
}
.landing-page .carousel-caption h1 {
	font-weight: 700;
	font-size: 38px;
	text-transform: uppercase;
	text-shadow: none;
	letter-spacing: -1.5px;
	margin-bottom: 10px;
}
.landing-page .carousel-caption p {
	font-weight: 700;
	text-transform: uppercase;
	text-shadow: none;
}
.landing-page .btn-success {
	font-size: 14px;
	padding: 10px 20px;
}
.landing-page .caption-link {
	color: #fff;
	margin-left: 10px;
	text-transform: capitalize;
	font-weight: 400;
}
.landing-page .caption-link:hover {
	text-decoration: none;
	color: inherit;
}

.landing-page .gray-section {
	background: #f4f4f4;
	margin-top: 60px;
}
.landing-page .navy-line {
	width: 60px;
	height: 1px;
	margin: 60px auto 0;
	border-bottom: 2px solid #1ab394;
}
.landing-page h1 {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 200;
}
.landing-page section p {
	color: #aeaeae;
	font-size: 13px;
}
.landing-page address {
	font-size: 13px;
}
.landing-page span.navy {
	color: #1ab394;
}
.landing-page p.text-color {
	color: #676a6c;
}
.landing-page .services {
	padding-top: 60px;
}
.landing-page .services h2 {
	font-size: 20px;
	letter-spacing: -1px;
	font-weight: 600;
	text-transform: uppercase;
}
.landing-page .features h2 {
	font-size: 18px;
	margin-top: 5px;
}
.landing-page .features-icon {
	color: #1ab394;
	font-size: 40px;
}
.landing-page .features-block {
	margin-top: 40px;
}
.landing-page .features-text {
	margin-top: 40px;
}
.landing-page .features small {
	color: #1ab394;
}
.landing-page .navy-section {
	margin-top: 60px;
	background: #1ab394;
	color: #fff;
	padding: 20px 0;
}
.landing-page .testimonials {
	padding-top: 80px;
	padding-bottom: 90px;
	background-color: #1ab394;
	background-image: url("/assets/images/avatar_all.png");
}
.landing-page section.comments {
	padding-bottom: 80px;
}
.landing-page .comments-avatar {
	margin-top: 25px;
	margin-left: 22px;
	margin-bottom: 25px;
}
.landing-page .comments-avatar .commens-name {
	font-weight: 600;
	font-size: 14px;
}
.landing-page .comments-avatar img {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	margin-right: 10px;
}
.landing-page .bubble {
	position: relative;
	height: 120px;
	padding:20px;
	background: #ffffff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-style: italic;
	font-size: 14px;
}
.landing-page .bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 14px 0;
	border-color: #ffffff transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -15px;
	left: 30px;
}
.landing-page .contact {
	background-image: url("/assets/images/word_map.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-top: 60px;
}
.landing-page .big-icon {
	font-size: 56px !important;
}
.landing-page .features .big-icon {
	color: #1ab394 !important;
}
.m-b-lg {
	margin-bottom: 30px;
}
.m-t-lg {
	margin-top: 30px;
}

@media (min-width: 768px) {
	.landing-page .navbar-wrapper {
		margin-top: 20px;
	}
	.landing-page .navbar-wrapper .container {
		padding-right: 15px;
		padding-left: 15px;
	}
	.landing-page .navbar-wrapper .navbar {
		padding-right: 0;
		padding-left: 0;
	}
	.landing-page .navbar-wrapper .navbar {
		border-radius: 4px;
	}
	.landing-page .carousel-caption p {
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 1.4;
	}
}
@media (max-width: 992px) {
	.landing-page .carousel-image {
		display: none;
	}
}
@media (max-width: 768px) {
	.landing-page .navbar.navbar-scroll .navbar-brand {
		margin-top: 6px;
	}
	.landing-page .navbar .navbar-brand {
		margin-top: 6px;
		border-radius: 5px;
		font-size: 12px;
		padding: 10px;
		height: auto;
	}
	.landing-page .navbar-default {
		background-color: #fff;
		border-color: #fff;
		padding: 15px 0;
	}
	.landing-page .navbar-default .navbar-nav > .active > a:focus {
		background: transparent;
		color: inherit;
	}
	.landing-page .navbar-default .nav li a {
		color: #676a6c;
	}
	.landing-page .navbar-default .nav li a:hover {
		color: #1ab394;
	}
	.landing-page .navbar-wrapper .navbar {
		padding-top: 0;
		padding-bottom: 5px;
		padding-left: 15px;
		padding-right: 5px;
		border-bottom: 1px solid #e7eaec;
		border-radius: 0;
	}
	.landing-page .nav > li > a {
		padding: 25px 10px 15px 10px;
	}
	.landing-page .navbar-nav > li > a {
		padding: 20px 10px;
	}
	.landing-page .navbar-default .navbar-nav > .active > a,
	.landing-page .navbar-default .navbar-nav > .active > a:hover {
		color: inherit;
	}
	.landing-page .navbar .navbar-header {
		display: block;
		float: none;
	}
	.landing-page .navbar .navbar-header .navbar-toggle {
		background-color: #fff;
		padding: 9px 10px;
		border: none;
	}
	.landing-page .carousel-caption {
		left: 5%;
		top: 80px;
	}
	.landing-page .carousel-caption h1 {
		font-size: 28px;
	}
	.landing-page .carousel-control {
		display: none;
	}
}

/** Landing page end **/

.link-wrapper{
	display: inline-block;
}


.notice-item{
	position: relative;
	padding: 10px 15px;
	border-bottom:1px solid #eee;
}

.notice-item p{
	font-size: 16px;
	color: black;
}

.notice-item p.title{
	font-weight: 600;
}

.notice-item p.date{
	position:absolute;
	right: 15px;
  	top: 50%;
	transform: translate(0, -50%);
}

#cos-form .form-label{
	vertical-align: top;
}


.wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}



#sidebar.active {
  margin-left: -220px;
}

.topbar.active {
  margin-left: 0px;

}

#dash-detail.active {
  margin-left: 0px;
}

@media screen and (max-width: 768px) {
  .hide-on-small {
    display: none !important;
  }
}











