.menu-wrap a {
	color: #bdc3c7;
}

.menu-wrap a:hover,
.menu-wrap a:focus,
.menu-wrap a.active {
	color: white;
}

.menu-wrap a:hover span.index,
.menu-wrap a:focus span.index,
.menu-wrap a.active span.index{
	border-color: white;
}

/* Menu Button */
.menu-button {
	z-index: 1000;
	margin: 9px;
	padding: 0;
	width: 2.5em;
	height: 2.25em;
	border: none;
	font-size: 1.5em;
	background: transparent;
}

.menu-button:hover {
	opacity: 0.6;
}

/* Close Button */
.close-button {
	width: 1em;
	height: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 1em;
	font-size: 0.75em;
	border: none;
	background: transparent;
	color: transparent;
}

.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #bdc3c7;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Menu */
.menu-wrap {
	position: absolute;
	z-index: 1001;
	min-width: 240px;
	max-width: 320px;
	width: 20%;
	height: 100%;
	background: #373a47;
	padding: 15px;
	font-size: 1em;
	overflow: scroll;
	-webkit-transform: translate3d(-320px,0,0);
	transform: translate3d(-320px,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu-wrap::-webkit-scrollbar { 
    display: none; 
}

.menu h3{
	margin: 30px 0;
	text-align: center;
	color: white;
	font-weight: 200;
	font-size: 18px;
}

.menu h3 > span{
	font-size:80%;
}

.menu, 
.session-list {
	height: 100%;
}

.session-list {
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.session-list a {
	display: block;
	padding: 0.8em;
	-webkit-transform: translate3d(0,500px,0);
	transform: translate3d(0,500px,0);
}

.session-list a.title {
	width: calc(100% - 48px);
    overflow: hidden;
    height: 16px;
    display: inline-block;
}

.session-list,
.session-list a {
	-webkit-transition: -webkit-transform 0s 0.4s;
	transition: transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.session-list a:nth-child(2) {
	-webkit-transform: translate3d(0,1000px,0);
	transform: translate3d(0,1000px,0);
}

.session-list a:nth-child(3) {
	-webkit-transform: translate3d(0,1500px,0);
	transform: translate3d(0,1500px,0);
}

.session-list a:nth-child(4) {
	-webkit-transform: translate3d(0,2000px,0);
	transform: translate3d(0,2000px,0);
}

.session-list a:nth-child(5) {
	-webkit-transform: translate3d(0,2500px,0);
	transform: translate3d(0,2500px,0);
}

.session-list a:nth-child(6) {
	-webkit-transform: translate3d(0,3000px,0);
	transform: translate3d(0,3000px,0);
}

.session-list a:nth-child(7) {
	-webkit-transform: translate3d(0,3500px,0);
	transform: translate3d(0,3500px,0);
}

.session-list a:nth-child(8) {
	-webkit-transform: translate3d(0,4000px,0);
	transform: translate3d(0,4000px,0);
}

.session-list a:nth-child(9) {
	-webkit-transform: translate3d(0,4500px,0);
	transform: translate3d(0,4500px,0);
}

.session-list a:nth-child(10) {
	-webkit-transform: translate3d(0,5000px,0);
	transform: translate3d(0,5000px,0);
}

.session-list a:nth-child(11) {
	-webkit-transform: translate3d(0,5500px,0);
	transform: translate3d(0,5500px,0);
}

.session-list a:nth-child(12) {
	-webkit-transform: translate3d(0,6000px,0);
	transform: translate3d(0,6000px,0);
}

.session-list a span {
	font-weight: 400;
	vertical-align: middle;
}

.session-list span.index{
	display: inline-block;
	width: 28px;
	height: 28px;
	line-height: 24px;
	text-align: center;
	margin-right: 10px;
	font-weight: 700;
	overflow: hidden;
	border-radius: 14px;
	border: 2px solid #bdc3c7;
}

/* Shown menu */
.show-menu .menu-wrap {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .session-list,
.show-menu .session-list a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .session-lists a {
	-webkit-transition-duration: 0.9s;
	transition-duration: 0.9s;
}

.show-menu .content::before {
	opacity: 1;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}