@(account: Account, section: Integer)(content: Html)

@scripts = {
	<script>
		$(function(){
			$.ajax({
                url: "@routes.NotificationController.notificationAmount()",
                type: "POST",
                success: function(response, status) {
	                var data = $.parseJSON(JSON.stringify(response));
	            		$('.label-primary').text(data.data);
	            }
            });

			$.ajax({
                url: "@routes.AuthController.showMyInfo()",
                type: "POST",
                success: function(response, status) {
	                var data = $.parseJSON(JSON.stringify(response));
	            		$('.sidebar-name').text(data.data.company);
	            		$('.sidebar-role').text(data.data.accType);
	            }
            });
		});
    $(document).ready(function () {

      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
        $('#topbar').toggleClass('active');
        $('#dash-detail').toggleClass('active');
      });
      if($(window).width() <= 768){
        $('#sidebar').addClass('active');
        $('#topbar').addClass('active');
        $('#dash-detail').addClass('active');
      }else{
        $('#sidebar').removeClass('active');
        $('#topbar').removeClass('active');
        $('#dash-detail').removeClass('active');
      }

    });
    $(window).on('resize', function(){
      var win = $(this); //this = window
      if (win.width() <= 768) {
        $('#sidebar').addClass('active');
        $('#topbar').addClass('active');
        $('#dash-detail').addClass('active');
      }else{
        $('#sidebar').removeClass('active');
        $('#topbar').removeClass('active');
        $('#dash-detail').removeClass('active');
      }
    });
	</script>
}

@main(scripts, "Build-Helper"){
	<div id="dash-content" class="dash-bg wrapper">
		<div id="sidebar" class="dash-sidebar col-lg-2">
		    <ul class="sidebar-menu" id="nav-accordion">
		    	<li class="sub-menu dcjq-parent-li">
		            <a class="sidebar-header">
		                <img src="@routes.CompanyController.showLogoWithoutParam()">
		                <span class="sidebar-name">G Top International Pte Ltd</span>
		                <span class="sidebar-role">Master Admin</span>
		            </a>
		        </li>

				@if(account.accType == AccountType.SADMIN){
					<li class="sub-menu dcjq-parent-li">
			        	<a @if(section == 0){class="active"} href="@routes.CompanyController.companys(0)">
			                <i class="fa fa-tachometer"></i>
			                <span>Company Management</span>
			            </a>
			        </li>
				}

				@if(account.accType == AccountType.ADMIN){
					<li class="sub-menu dcjq-parent-li">
						<a @if(section == 1){class="active"} href="@routes.CompanyController.company()">
			                <i class="fa fa-bank"></i>
			                <span>QP Company Info</span>
			            </a>
			        </li>
          <li class="sub-menu dcjq-parent-li">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
              <i class="fa fa-user"></i>
              <span>Manage User</span><span style="float:right"><i class="fa fa-caret-down"></i></span>
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">

			        <li >
			            <a @if(section == 2){class="active"} href="@routes.CompanyController.qpList(0)">
                    @*<i class="fa fa-user"></i>*@
			                <span style="padding-left:20px" class="sidebar-user">Qualified Person</span>
			            </a>
			        </li>

			        <li >
			            <a @if(section == 3){class="active"} href="@routes.CompanyController.inspectors(0)">
			                @*<i class="fa fa-user"></i>*@
			                <span style="padding-left:20px" class="sidebar-user">Inspector</span>
			            </a>
			        </li>

			        <li >
			            <a @if(section == 4){class="active"} href="@routes.ProjectController.projectOfCompany(0)">
			                @*<i class="fa fa-user"></i>*@
			                <span style="padding-left:20px" class="sidebar-user">Project Engineer</span>
			            </a>
			        </li>
            </ul>
          </li>
			        <li class="sub-menu dcjq-parent-li">
			            <a @if(section == 6){class="active"} href="@routes.CompanyController.documentFormat()">
			                <i class="fa fa-sticky-note"></i>
			                <span>Document Format</span>
			            </a>
			        </li>
				}

		    		<li class="sub-menu dcjq-parent-li">
		            <a @if(section == 7){class="active"} href="@routes.NotificationController.notifications(0)">
		                <i class="fa fa-comments"></i>
		                <span>Notices</span>
		            </a>
		        </li>

		        @if(account.accType == AccountType.QP
		        		|| account.accType == AccountType.INSPECTOR
		        		|| account.accType == AccountType.CONTRACTOR
		        		|| account.accType == AccountType.CLIENT){
		    			@if(account.engineer != null){
			    			<li class="sub-menu dcjq-parent-li">
				            <a @if(section == 5){class="active"} href="@routes.ProjectController.projectOfEngineer(0)">
				                <i class="fa fa-briefcase"></i>
				                <span>Project Admin</span>
				            </a>
				        </li>
		    			}
			        <li class="sub-menu dcjq-parent-li">
			            <a @if(section == 8){class="active"} href="@routes.ProjectController.projectExecution(0)">
			                <i class="fa fa-wrench"></i>
			                <span>Project Execution</span>
			            </a>
			        </li>
		    		}

		        <li class="sub-menu dcjq-parent-li">
		            <a @if(section == 9){class="active"} href="@routes.AuthController.logout()">
		                <i class="fa fa-sign-out"></i>
		                <span>Logout</span>
		            </a>
		        </li>
		    </ul>
		</div>

		<div id="topbar" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 topbar">
			<nav class="navbar" role="navigation" style="margin-bottom: 0; width: 100%;">
				<div class="navbar-header col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 100%; width: 100%">
					<a id="sidebarCollapse" class="btn btn-success" style="margin-left: 10px; margin-top: 15px; padding: 2px 12px;">
						<i class="fa fa-bars"></i>
					</a>
			        <a style="float:right; margin-right: 30px; height: 100%; padding-top: 20px;" href="@routes.AuthController.logout()">
			            <i class="fa fa-sign-out"></i>
			            <span>Log out</span>
			        </a>
			        <div  style="float:right; margin-right: 30px; height: 100%; padding-top: 20px;">
			            <i class="fa fa-bell"></i>
			            <a class="label label-primary" href="@routes.NotificationController.notifications(0)">0</a>
			          </div>
			        <div  style="float:right; margin-right: 30px; height: 100%; padding-top: 20px;">
			            <span>Welcome to E-SPECTOR.</span>
			        </div>
				</div>
			</nav>
		</div>
		<div id="dash-detail-wrap" class="col-lg-12">
			<div id="dash-detail">
				@content
			</div>
		</div>
	</div>
}
