@(portal: String, section: Integer)(content: Html)

@scripts = {
	<script>
		$(function(){
			
		});
	</script>
}

@main(scripts, "Build-Helper"){
	<div id="dash-content" class="dash-bg">		
		<div id="sidebar" class="dash-block">
		    <ul class="sidebar-menu" id="nav-accordion">
		    	@if(portal == "admin"){
		    		   	<li class="sub-menu dcjq-parent-li">
				            <a @if(section == 0){class="active"} href="@routes.CompanyController.companys(0)">
				                <i></i>
				                <span>Company Management</span>
				            </a>
				        </li>
				        <li class="sub-menu dcjq-parent-li">
				            <a @if(section == 1){class="active"} href="@routes.CompanyController.company()">
				                <i></i>
				                <span>QP Company Info</span>
				            </a>
				        </li>
				        
				        <li class="sub-menu dcjq-parent-li">
				            <a @if(section == 2){class="active"} href="@routes.CompanyController.qpList(0)">
				                <i></i>
				                <span>Manage QP</span>
				            </a>
				        </li>
				
				        <li class="sub-menu dcjq-parent-li">
				            <a @if(section == 3){class="active"} href="@routes.CompanyController.inspectors(0)">
				                <i></i>
				                <span>Manage Inspector</span>
				            </a>
				        </li>
				
				        <li class="sub-menu dcjq-parent-li">
				            <a @if(section == 4){class="active"} href="@routes.CompanyController.engineers(0)">
				                <i></i>
				                <span>Project Engineer</span>
				            </a>
				        </li>
				        <li class="sub-menu dcjq-parent-li">
				            <a @if(section == 6){class="active"} href="@routes.CompanyController.documentFormat()">
				                <i></i>
				                <span>Document Format</span>
				            </a>
				        </li>
		    	}
		    	
		    	<li class="sub-menu dcjq-parent-li">
		            <a @if(section == 7){class="active"} href="">
		                <i></i>
		                <span>Notices</span>
		            </a>
		        </li>
		        
		        @if(portal == "engineer"){
		        	<li class="sub-menu dcjq-parent-li">
			            <a @if(section == 5){class="active"} href="@routes.ProjectController.projectAdmin()">
			                <i></i>
			                <span>Project Admin</span>
			            </a>
			        </li>
			        <li class="sub-menu dcjq-parent-li">
			            <a @if(section == 8){class="active"} href="@routes.ProjectController.projectAdmin()">
			                <i></i>
			                <span>Project Execution</span>
			            </a>
			        </li>
		        }
		        
		        
		        <li class="sub-menu dcjq-parent-li">
		            <a @if(section == 9){class="active"} href="@routes.AuthController.logout()">
		                <i></i>
		                <span>Logout</span>
		            </a>
		        </li>
		    </ul>
		</div>
	
		<div id="dash-detail-wrap" class="lesson-dash">
			<div id="dash-detail" class="dash-block">
				@content
			</div>
		</div>
	</div>
}
