@import tags._
@import models.TermType

@(account: Account, cos: COS)

@sidemenu(account, 8) {
	<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/froala/font-awesome.min.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets//bootstrap-datetimepicker.min.css")">
	<script src="@routes.Assets.versioned("javascripts/fabric/fabric.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.versioned("javascripts/html2canvas.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.versioned("javascripts/moment.js")" type="text/javascript"></script>
	<script src="@routes.Assets.versioned("javascripts/bootstrap-datetimepicker.js")" type="text/javascript"></script>
	<script>
		$(function(){
			var canvas = new fabric.Canvas('canvas', {
				isDrawingMode: true
			});
			canvas.setWidth($('#sign-wrapper').width());
			
			$('.sign-clear-btn').on('click', function(){
				canvas.clear();
			});
			
			$('.reason-item').on('click', function(){
				$('textarea').text($(this).text());
			});
			
			$(document).on('focus',".approveatepicker", function(){
			    $(this).datetimepicker();
			});
			
			$("#approve-form").validate({
				ignore: [],
		        rules: {
		        		reason:{
		            		required:true
		        		},
		        		approveDate:{
		        			required:true
		        		}
        			},
		        highlight: function (element) {
		            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
		        },
		        unhighlight: function (element) {
		            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
		        },
		        submitHandler: function(form) {
		        		var c=document.getElementById("canvas");
					var data=c.toDataURL("image/png");
					
					var block = data.split(";");
					var realData = block[1].split(",")[1];
					var contentType = block[0].split(":")[1];
					var blob = b64toBlob(realData, contentType);
					
					var formDataToUpload = new FormData(document.getElementById('approve-form'));
					formDataToUpload.append("approveSign", blob, 'approve_sign.png');
					
					var btn = $('#submit');
					var spinner = $('<i class="glyphicon glyphicon-refresh glyphicon-spinner spinner"></i>');
						btn.after(spinner);
			        	btn.css('color', '#1ab394');
			        	btn.attr("disabled", true);
					
					$.ajax({
		                url: "@routes.COSController.approveCOS()",
		                type: "POST",
		                data: formDataToUpload,
		                contentType: false, 
		                processData: false,
		                success: function(response, status) {
			                var data = $.parseJSON(JSON.stringify(response));
			            		if(data.code == 0){
		           	    			showAlertToast(data.message, "alert-success");
			                }else{
	                				showAlertToast(data.message, "alert-warning");
			                }
			            	
				            	spinner.remove();
				            	btn.css('color', 'white');
		            	    		btn.attr("disabled", false);
			            }
		            });
		        }
		    });
		});	
		
		function b64toBlob(b64Data, contentType, sliceSize) {
	        contentType = contentType || '';
	        sliceSize = sliceSize || 512;
	        var byteCharacters = atob(b64Data);
	        var byteArrays = [];
	        for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
	            var slice = byteCharacters.slice(offset, offset + sliceSize);
	            var byteNumbers = new Array(slice.length);
	            for (var i = 0; i < slice.length; i++) {
	                byteNumbers[i] = slice.charCodeAt(i);
	            }
	            var byteArray = new Uint8Array(byteNumbers);
	            byteArrays.push(byteArray);
	        }
	      	var blob = new Blob(byteArrays, {type: contentType});
	      	return blob;
		}
	</script>
	
	<div class="dash-detail-header">
		<p class="title">COS Approved</p>
	</div>
	<div class="cos-bg"> 
		<div class="a4">
			<form id="approve-form">
				<input type="hidden" name="cosId" value="@cos.id"/>
				<input type="hidden" name="approveType" value="inspect" />
				<!-- <p class="sec-header center-align"><span style="font-weight: 600;">To: </span>Contractor's Name</p>
				<div>
					<input type="radio" name="reason" value="I/my representative have checked the above items and certify that they are in order and according to the design." checked>I/my representative have checked the above items and certify that they are in order and according to the design.<br>
					<input type="radio" name="reason" value="Work may proceed subject to incorporato">Work may proceed subject to incorporato<br>
					<input type="radio" name="reason" value="Above work is not in accordance with the design, the following rectification works are to be carried out before next inspection:"> Above work is not in accordance with the design, the following rectification works are to be carried out before next inspection:
				</div> -->
				
				<div class="form-group">
			        <div class="form-input long-txt">
		            		<textarea id="comment-txt" class="form-control" name="comment" rows="5" placeholder="eg：Comment ..."></textarea>
		         	</div>
		       	</div>
		       	
		       	<div class="form-group date-group">
					<label>Date of Approval</label>
					<input type="text" class="form-control approveatepicker" name="approveDate" data-date-format="YYYY-MM-DD">
				</div>
		       	
		       	<div id="sign-wrapper">
		       		<canvas id="canvas" width="" height="400"></canvas>
		       		<div class="drawing-wrapper center-align">
						<input id="signature" type="file" value="signature"/>
						<a class="sign-clear-btn btn btn-default">Clear</a>
					</div>
					<div class="submit-wrapper">
						<input id="submit" class="btn btn-success" type="submit" value="Confirm and Send"/>
					</div>
					<div style="clear: both; margin-bottom: 30px"></div>
		       	</div>
	       	</form>
		</div>
	</div>
}