<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div style="max-width: 715px; margin-left: auto; margin-right: auto;">
		<center><img src="@routes.Assets.versioned("images/ymw_letterhead.png")" style="max-width: 715px; max-height: 120px; "></center>
		<hr>
		<span>Our Ref No.: </span><span>YMW-MOM-COS-A001-TONOOOS</span>
	</div>
	<div style="padding: 20px; max-width: 675px; margin-left: auto; margin-right: auto; font-size: 14px;">
		<h3 style="text-align: center;">SCAFFOLD INSPECTION CHECKLIST</h3>
		<table style="width: 100%; text-align: center;">
			<tr style="background-color: #555555; color: #ffffff;">
				<th style="padding: 10px;">#</th>
				<th style="padding: 10px;">COMPLIANCE CRITERIA</th>
				<th style="padding: 10px;">YES/NO/NA</th>
			</tr>
			<tr>
				<th colspan="3" style="padding: 5px;">General</th>
			</tr>
			<tr style="background-color: #f5f5f5;">
				<td style="10px;">1</td>
				<td style="text-align: justify; padding: 10px;">
					Scaffold erected and supervised by a <b>competent</b> person.
				</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr style="page-break-inside: avoid; page-break-before: auto;">
				<th colspan="3" style="padding: 5px;">Foundation</th>
			</tr>
			<tr style="background-color: #d9d9d9; page-break-inside: avoid; page-break-before: auto;">
				<td style="10px;">2</td>
				<td style="text-align: justify; padding: 10px;"><b>Sole-plates</b> of correct thicknesses and lengths have been placed where scaffold is <b>not</b> erected onto a <b>solid foundation</b>.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr style="background-color: #f5f5f5;">
				<td style="10px;">3</td>
				<td style="text-align: justify; padding: 10px;">All <b>standards</b> have been fitted with <b>baseplates</b>.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr style="background-color: #d9d9d9;">
				<td style="10px;">4</td>
				<td style="text-align: justify; padding: 10px;"><b>Foot-ties</b> have been fitted as <b>near</b> to the <b>ground</b> or basing level as possible.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr>
				<th colspan="3" style="padding: 5px;">Standards (Vertical member)</th>
			</tr>
			<tr style="background-color: #f5f5f5;">
				<td style="10px;">5</td>
				<td style="text-align: justify; padding: 10px;"><b>Standards</b> placed at <b>correct distances</b> from each other and from the structure they are servicing.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr style="background-color: #d9d9d9;">
				<td style="10px;">6</td>
				<td style="text-align: justify; padding: 10px;"><b>Standards plumbed</b> but with a slight lean-in towards the structure they are servicing.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr style="background-color: #f5f5f5;">
				<td style="10px;">7</td>
				<td style="text-align: justify; padding: 10px;"><b>Connections</b> between standards and ledgers made with <b>right-angle couplers</b>.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr style="background-color: #d9d9d9;">
				<td style="10px;">8</td>
				<td style="text-align: justify; padding: 10px;">Standards <b>connected end-to-end</b> with either <b>sleeve couplers</b> or <b>joint pins</b>.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr style="background-color: #f5f5f5;">
				<td style="10px;">9</td>
				<td style="text-align: justify; padding: 10px;"><b>Transoms</b> at standards <b>connected</b> either to the standards or to the ledgers with <b>right-angle couplers</b>. Ledgers and transoms are observed to be <b>horizontal</b>.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr style="background-color: #d9d9d9;">
				<td style="10px;">10</td>
				<td style="text-align: justify; padding: 10px;"><b>Fittings</b> at standards grouped as closely <b>together</b> as possible.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr>
				<th colspan="3" style="padding: 5px;">Bracings</th>
			</tr>
			<tr style="background-color: #f5f5f5;">
				<td style="10px;">11</td>
				<td style="text-align: justify; padding: 10px;"><b>Diagonal bracings connected</b> either to projecting transoms with <b>right-angle couplers</b> or to the standards with <b>swivel couplers</b>. <b>Note</b>. <b>Diagonal bracings not connected to ledgers</b>.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr style="background-color: #d9d9d9;">
				<td style="10px;">12</td>
				<td style="text-align: justify; padding: 10px;">Ledgers and diagonal bracings are connected end-to-end using either <b>sleeve couplers</b> or <b>joint-pins with butt-straps</b>. End-to-end connections in members are <b>staggered</b> in <b>adjacent</b> bays and adjacent pairs so that joints in similar members do <b>not</b> occur <b>close</b> together.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr style="background-color: #f5f5f5;">
				<td style="10px;">13</td>
				<td style="text-align: justify; padding: 10px;"><b>Ledger</b> bracings connected to the <b>ledgers</b> with <b>right-angle couplers</b> or to the standards with <b>swivel coupler</b>.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr style="background-color: #d9d9d9;">
				<td style="10px;">14</td>
				<td style="text-align: justify; padding: 10px;">All <b>bracings</b> are completely installed <b>according</b> to <b>drawings</b>.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr>
				<th colspan="3" style="padding: 5px;">Tie-ins</th>
			</tr>
			<tr style="background-color: #f5f5f5;">
				<td style="10px;">15</td>
				<td style="text-align: justify; padding: 10px;">Tie-ins of <b>correct design</b> are correctly <b>installed</b> in correct positions as the scaffold rises and <b>not more than two lifts</b> behind.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr style="background-color: #d9d9d9;">
				<td style="10px;">16</td>
				<td style="text-align: justify; padding: 10px;">Ledgers and transoms are truly <b>horizontal</b> and <b>correctly spaced</b>, particularly at decking-out level.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr style="background-color: #f5f5f5;">
				<td style="10px;">17</td>
				<td style="text-align: justify; padding: 10px;">Tie-ins are in <b>sufficient</b> numbers.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr>
				<th colspan="3" style="padding: 5px;">Decking</th>
			</tr>
			<tr style="background-color: #d9d9d9;">
				<td style="10px;">18</td>
				<td style="text-align: justify; padding: 10px;">Timber boards for decking-out are of <b>correct thickness</b>, <b>length</b> and <b>width</b> for the intended purpose of scaffold.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr style="background-color: #f5f5f5;">
				<td style="10px;">19</td>
				<td style="text-align: justify; padding: 10px;">Boards are laid close together side-by-side and butting close to each other to make a level deck. Working platform feels "<b>solid</b>" to walk-on.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr style="background-color: #d9d9d9;">
				<td style="10px;">20</td>
				<td style="text-align: justify; padding: 10px;">When over-lapping boards are used, the <b>over-laps are at least 300 mm</b> and filled pieces fitted are of adequate cross-section so that the change in level is gradual.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr style="background-color: #f5f5f5; page-break-inside: avoid; page-break-before: auto;">
				<td style="10px;">21</td>
				<td style="text-align: justify; padding: 10px;">The boards <b>over-sail</b> their last support by <b>more than four times</b> their thickness or <b>not less than 50 mm</b>.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr>
				<th colspan="3" style="padding: 5px;">Miscellaneous Fixtures (Toeboards, Guardrails, Ladders etc.)</th>
			</tr>
			<tr style="background-color: #d9d9d9;">
				<td style="10px;">22</td>
				<td style="text-align: justify; padding: 10px;"><b>Toeboards</b> are provided and <b>securely fastened</b> in positions.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr style="background-color: #f5f5f5;">
				<td style="10px;">23</td>
				<td style="text-align: justify; padding: 10px;"><b>Guardrails</b> are fitted at correct height and location; and <b>connected to standards</b>.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr style="background-color: #d9d9d9;">
				<td style="10px;">24</td>
				<td style="text-align: justify; padding: 10px;"><b>Ladders</b> are provided to give access to working platform and are <b>securely latched</b> to the scaffold at top and bottom so that no accidental displacement can take place.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr style="background-color: #f5f5f5;">
				<td style="10px;">25</td>
				<td style="text-align: justify; padding: 10px;"><b>Ladders</b> are rising not more than <b>9m vertically</b> between landings and are not projecting at least <b>1m above</b> the level of the landing.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr>
				<th colspan="3" style="padding: 5px;">Other</th>
			</tr>
			<tr style="background-color: #d9d9d9;">
				<td style="10px;">26</td>
				<td style="text-align: justify; padding: 10px;"><b>Precautions</b> are being taken to hold down decking against <b>high winds</b>.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr style="background-color: #f5f5f5;">
				<td style="10px;">27</td>
				<td style="text-align: justify; padding: 10px;"><b>Overhead hazards</b> such as power transmission lines, telephone wires etc., in the vicinity of the scaffold have been noted and <b>allowed for</b>.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr style="background-color: #d9d9d9;">
				<td style="10px;">28</td>
				<td style="text-align: justify; padding: 10px;"><b>Safety net</b> of close-mesh wire or a fan of boards has been <b>erected</b> to prevent articles and debris dislodged from the scaffold falling onto the public access.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
			<tr style="background-color: #f5f5f5;">
				<td style="10px;">29</td>
				<td style="text-align: justify; padding: 10px;"><b>Hazards</b> that may affect workers on the scaffold have been <b>noted</b>.</td>
				<td style="padding: 10px;">YES</td>
			</tr>
		</table>
	</div>
</body>
</html>