<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div style="max-width: 715px; margin-left: auto; margin-right: auto;">
		<center><img src="@routes.Assets.versioned("images/ymw_letterhead.png")" style="max-width: 715px; max-height: 120px; "></center>
		<hr>
		<span>Our Ref No.: </span><span>YMW-MOM-COS-A001-TONOOOS</span>
	</div>
	<div style="padding: 20px; max-width: 675px; margin-left: auto; margin-right: auto; font-size: 14px;">
		<h3 style="text-align: center;">CERTIFICATION OF SUPERVISION</h3>
		<div>	
			<div style="display: flex;">
				<div style="width: 28%;">
					<p>Project Title</p>
				</div>
				<div style="width: 72%;">
					<p>: <span>Blk 29 (Tower E) Blue Horizon @@ West Coast Crescent</span></p>
				</div>
			</div>
			<div style="display: flex;">
				<div style="width: 28%;">
					<p>Client</p>
				</div>
				<div style="width: 72%;">
					<p>: <span>LTC Coatings (S) Pte Ltd</span></p>
				</div>
			</div>
			<div style="display: flex;">
				<div style="width: 28%;">
					<p>Specialist contractor</p>
				</div>
				<div style="width: 72%;">
					<p>: <span>Mega Engineering (S) Pte Ltd</span></p>
				</div>
			</div>
			<div style="display: flex;">
				<div style="width: 28%;">
					<p>Subject</p>
				</div>
				<div style="width: 72%;">
					<p>: <span>Installation of Mast Climbing Platform</span></p>
				</div>
			</div>
			<div style="display: flex;">
				<div style="width: 28%;">
					<p>Inspection date</p>
				</div>
				<div style="width: 72%;">
					<p>: <span>31st October 2017</span></p>
				</div>
			</div>
			<div style="display: flex;">
				<div style="width: 28%;">
					<p>Working Platform Serial No.</p>
				</div>
				<div style="width: 72%;">
					<p>: <span>318</span></p>
				</div>
			</div>
			<div style="display: flex;">
				<div style="width: 28%;">
					<p>Max. Height</p>
				</div>
				<div style="width: 72%;">
					<p>: <span>43.50m</span></p>
				</div>
			</div>
			<div style="display: flex;">
				<div style="width: 28%;">
					<p>Max. Length</p>
				</div>
				<div style="width: 72%;">
					<p>: <span>10.10m</span></p>
				</div>
			</div>
		</div>
		<br><br>
		<p style="text-align: justify;">I, <span>Wong Yew Fai</span>, PE No. <span>4439</span>, hereby certify that the structural supporting the lifting equipment described in as above was examined by me and I confirmed that the stability of the structures (such as RC roof slab, beams, columns, parapet walls, floor slab) are safe for the taking of mast climbing working platform loads to carrying out the building works.</p>
		<br><br><br>
		<p>Yours truly,</p>
		<div>
			<img style="width: 150px; height: 150px; margin-top: -20px; margin-bottom: -20px; margin-left: 50px;" src="@routes.Assets.versioned("images/pe_stamp.svg")">
		</div>
		<div style="display: flex; text-align: center;">
			<div style="float: left; width: 50%;">
				<div style="float: left;">
					<br>
					<hr style="width: 200px;">
					Professional Engineer
					<br>(Signature and Stamp)
				</div>
			</div>
			<div style="float: right; width: 50%;">
				<div style="float: right;">	
					<span>31st October 2017</span>
					<br><hr style="width: 200px;">
					<span>Date</span>
				</div>
			</div>
		</div>
		<div style="padding-top: 20px;">
			<div style="float: right;"><img style="width: 80px; height: 80px;" src="@routes.Assets.versioned("images/sample_qr_code.jpg")"></div>
			<div style="float: right; margin-top: 30px;">Scan to verify information or visit<br>www.e-spector.com/enquiry</div>
		</div>
	</div>
</body>
</html>
