<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div style="max-width: 715px; margin-left: auto; margin-right: auto;">
		<center><img src="@routes.Assets.versioned("images/ymw_letterhead.png")" style="max-width: 715px; max-height: 120px; "></center>
		<hr>
		<span>Our Ref No.: </span><span>YMW-MOM-COS-A001-TONOOOS</span>
	</div>
	<div style="padding: 20px; max-width: 675px; margin-left: auto; margin-right: auto; font-size: 14px;">
		<h3 style="text-align: center;">CERTIFICATION OF SUPERVISION</h3>
		<div>	
			<div style="display: flex;">
				<div style="width: 30%;">
					<p><b>Project Title</b></p>
				</div>
				<div style="width: 70%;">
					<p>: <span>Blk 29 (Tower E) Blue Horizon @@ West Coast Crescent</span></p>
				</div>
			</div>
			<div style="display: flex;">
				<div style="width: 30%;">
					<p><b>Developer/Client</b></p>
				</div>
				<div style="width: 70%;">
					<p>: <span>LTC Coatings (S) Pte Ltd</span></p>
				</div>
			</div>
			<div style="display: flex;">
				<div style="width: 30%;">
					<p><b>Builder/Specialist Contractor</b></p>
				</div>
				<div style="width: 70%;">
					<p>: <span>Mega Engineering (S) Pte Ltd</span></p>
				</div>
			</div>
			<div style="display: flex;">
				<div style="width: 30%;">
					<p><b>Subject</b></p>
				</div>
				<div style="width: 70%;">
					<p>: <span>Installation of Gondola System</span></p>
				</div>
			</div>
			<div style="display: flex;">
				<div style="width: 30%;">
					<p><b>Inspection Date</b></p>
				</div>
				<div style="width: 70%;">
					<p>: <span>31st October 2017</span></p>
				</div>
			</div>
			<div style="display: flex;">
				<div style="width: 30%;">
					<p><b>Gondola Particular Gondola No.</b></p>
				</div>
				<div style="width: 70%;">
					<p>: <span>PG36</span></p>
				</div>
			</div>
			<div style="display: flex;">
				<div style="width: 30%;">
					<p><b>L E Registration No.</b></p>
				</div>
				<div style="width: 70%;">
					<p>: <span>LP302952E</span></p>
				</div>
			</div>
			<div style="display: flex;">
				<div style="width: 30%;">
					<p><b>Distinctive no.</b></p>
				</div>
				<div style="width: 70%;">
					<p>: <span>10461/10462</span></p>
				</div>
			</div>
			<div style="display: flex;">
				<div style="width: 30%;">
					<p><b>Max. Length</b></p>
				</div>
				<div style="width: 70%;">
					<p>: <span>4.0 Meter</span></p>
				</div>
			</div>
			<div style="display: flex;">
				<div style="width: 30%;">
					<p><b>Max. S.W.L</b></p>
				</div>
				<div style="width: 70%;">
					<p>: <span>300 kgs</span></p>
				</div>
			</div>
		</div>
		<p style="text-align: justify;"><b>I</b>, <span>Wong Yew Fai</span>, <b>PE No.</b> <span>4439</span>, hereby certify that the structure supporting the lifting equipment and tension of safety wire described in as above was examined by me and I confirmed that the stability of the structures (such as RC roof slab, beams, columns and parapet walls) are safe for the taking of gondola loads to carrying out the building works.</p>
		<br>
		<p>Yours truly,</p>
		<div style="position:relative;">
			<img style="width: 150px; height: 150px; margin-top: -20px; margin-bottom: -20px; margin-left: 50px;" src="@routes.Assets.versioned("images/pe_stamp.svg")">
			<a style="position:absolute; width:120px; height:60px; top: 37px; left: 65px; background-size: cover; background-repeat: no-repeat; background-position: center; z-index: 100; background-image:url('http://localhost:9000/cos/show/signature?uuid=fd2b86d8-71eb-46a6-b7da-bea584a27a95&isLarge=true')"></a>
		</div>
		<div style="display: flex; text-align: center;">
			<div style="float: left; width: 50%;">
				<div style="float: left;">
					<br>
					<hr style="width: 200px;">
					Professional Engineer
					<br>(Signature and Stamp)
				</div>
			</div>
			<div style="float: right; width: 50%;">
				<div style="float: right;">	
					<span>31st October 2017</span>
					<br><hr style="width: 200px;">
					<span>Date</span>
				</div>
			</div>
		</div>
		<div style="padding-top: 0px;">
			<div style="float: right;"><img style="width: 80px; height: 80px;" src="@routes.Assets.versioned("images/sample_qr_code.jpg")"></div>
			<div style="float: right; margin-top: 30px;">Scan to verify information or visit<br>www.e-spector.com/enquiry</div>
		</div>
	</div>
</body>
</html>
