@import tags._

@(account: Account, inspectorAccount: Account)

@sidemenu(account, 3){
	<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/froala/font-awesome.min.css")">
	<script type="text/javascript">
		$(function(){
			$("#add-file-btn").on("click", function(){
				var fileInput = '<input type=\"file\" name=\"document\" multiple>';
				$('input[type=file]').last().after(fileInput);
			});

			$("#remove-file-btn").on("click", function(){

			    if ($('input[type=file]').length > 1){
				$('input[type=file]').last().remove();}
			});

			$("#inspector-form").validate({
				ignore: [],
		        rules: {
		        	name:{
		            	minlength: 2,
		                maxlength: 50,
		            	    required:true
		            },
		            email:{
		            		email: true,
		            		required:true
		            },
		            password:{
		            		required:true
		            },
		            mobile:{
		            		required: true
		            }
		        },
		        highlight: function (element) {
		            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
		        },
		        unhighlight: function (element) {
		            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
		        },
		        submitHandler: function(form) {
		        		$('input[type=submit]').attr("disabled", true);
		        		form.submit();
		        }
		    });

	   	});

		function GetFileSize(fileid) {
			 try {
				 var fileSize = 0;
				 if(checkIE()) {
					 var objFSO = new ActiveXObject("Scripting.FileSystemObject"); var filePath = $("#" + fileid)[0].value;
					 var objFile = objFSO.getFile(filePath);
					 var fileSize = objFile.size; //size in kb
					 fileSize = fileSize / 1048576; //size in mb
				 }else {
					 fileSize = $("#" + fileid)[0].files[0].size //size in kb
					 fileSize = fileSize / 1048576; //size in mb
				 }

				 if(fileSize <= 2){
					 return true;
				 }
			 }catch (e) {
			 	console.log("Error is :" + e);
			 }
			 return false;
		}

		function checkIE() {
		    var ua = window.navigator.userAgent;
		    var msie = ua.indexOf("MSIE");
		    if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)){
				return true;
		    } else{
		 		return false;
		    }
		}
	</script>
	<div class="dash-detail-header">
		<p class="title">@messages.at("create_inspector_acc")</p>
		<ul class="directory">
			<li class="directory-link">
				<a href="@routes.CompanyController.company()">Home</a>
			</li>
			<li class="slash">/</li>
			<li class="directory-link">
				<a href="@routes.CompanyController.inspectors(0)">Manage Inspector</a>
			</li>
			<li class="slash">/</li>
			<li class="current">Create Inspector Account</li>
		</ul>
	</div>

	<div class="dash-block">
		<div class="wrap-step wrap-step-2" style="display: block;">
			@helper.form(action = routes.AuthController.saveInspectorAccount(), 'id-> "inspector-form", 'method -> "POST", 'enctype -> "multipart/form-data") {
				<div class="mod-form__block">
				   <div class="mod-form__block-content">
					  <input type="hidden" name="inpectorAccountId" value="@if(inspectorAccount != null){@inspectorAccount.id}"/>

				      <p class="tb-header">@messages.at("account_info")</p>
				      <table class="tb-form">
				      	<tr>
				      		<td>
				      			<div class="form-group">
							         <div class="form-label">
							            <label for="qp-name">@messages.at("name")</label>
							         </div>
							         <div class="form-input">
							            <input id="qp-name" type="text" class="form-control" name="name" placeholder="@messages.at("placeholder_name")" value="@if(inspectorAccount != null){@inspectorAccount.user.name}">
							         </div>
							    </div>
				      		</td>
				      		<td>
				      			<div class="form-group">
						           <div class="form-label">
						              <label for="primary-email">@messages.at("primary_email_address"):</label>
						           </div>
						           <div class="form-input">
						           	  <input id="primary-email" type="text" class="form-control" name="email" placeholder="@messages.at("placeholder_email")" value="@if(inspectorAccount != null){@inspectorAccount.email}">
						         	</div>
						        </div>
				      		</td>
				      	</tr>
				      	<tr>
				      		<td>
				      			<div class="form-group">
						           <div class="form-label">
						              <label for="designation">@messages.at("designation")</label>
						           </div>
						           <div class="form-input">
						           	  <input id="designation" type="text" class="form-control" name="designation" placeholder="@messages.at("placeholder_designation")" value="@if(inspectorAccount != null){@inspectorAccount.user.designation}">
						         	</div>
						        </div>
				      		</td>
				      		<td>
				      			<div class="form-group">
						           <div class="form-label">
						              <label for="password">@messages.at("password"):</label>
						           </div>
						           <div class="form-input">
						           	  <input id="password" type="text" class="form-control" name="password" placeholder="@messages.at("placeholder_password")" value="@if(inspectorAccount != null){@inspectorAccount.password}" autocomplete="off">
						         	</div>
						        </div>
				      		</td>
				      	</tr>
				      </table>


				      <p class="tb-header">@messages.at("personal_info")</p>
				      <table class="tb-form">
				      	<tr>
				      		<td>
				      			<div class="form-group">
							         <div class="form-label">
							            <label for="aler-email-1">@messages.at("alter_emaill_1")</label>
							         </div>
							         <div class="form-input">
							            <input id="aler-email-1" type="text" class="form-control" name="alerEmail1" placeholder="@messages.at("alter_emaill_1")" value="@if(inspectorAccount != null){@inspectorAccount.user.alterEmail1}">
							         </div>
							    </div>
				      		</td>
				      		<td>
				      			<div class="form-group">
						           <div class="form-label">
						              <label for="aler-email-2">@messages.at("alter_emaill_2")</label>
						           </div>
						           <div class="form-input">
						           	  <input id="aler-email-2" type="text" class="form-control" name="alerEmail2" placeholder="@messages.at("alter_emaill_2")" value="@if(inspectorAccount != null){@inspectorAccount.user.alterEmail2}">
						         	</div>
						        </div>
				      		</td>
				      	</tr>
				      	<tr>
				      		<td>
				      			<div class="form-group">
						           <div class="form-label">
						              <label for="office_phone">@messages.at("office_phone")</label>
						           </div>
						           <div class="form-input">
						           	  <input id="office_phone" type="text" class="form-control" name="officePhone" placeholder="@messages.at("placeholder_office_phone")" value="@if(inspectorAccount != null){@inspectorAccount.user.officePhone}">
						         	</div>
						        </div>
				      		</td>
				      		<td>
				      			<div class="form-group">
						           <div class="form-label">
						              <label for="mobile">@messages.at("mobile_no")</label>
						           </div>
						           <div class="form-input">
						           	  <input id="mobile" type="text" class="form-control" name="mobile" placeholder="@messages.at("placeholder_mobile")" value="@if(inspectorAccount != null){@inspectorAccount.user.mobile}">
						         	</div>
						        </div>
				      		</td>
				      	</tr>
				      </table>


				      <p class="tb-header">@messages.at("qualified_person_particular")</p>
					  <div class="form-group">
			          	<div class="form-label">
			              	<label>@messages.at("attach_cert")</label>
					   	</div>
			           	<input type="file" name="document" multiple>
			           	<a id="add-file-btn" class="btn">Add</a>
						<a id="remove-file-btn" class="btn">remove</a>
		         	  </div>

				   </div>
				</div>
				<div class="form-group txt-center form-submit">
				   <input class="btn btn-success" type="submit" value="Submit"/>
				</div>
			}
		</div>
	</div>
}