@import tags._

@(account: Account, docFormats: List[DocFormat])

@sidemenu(account, 6){
	<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/froala/font-awesome.min.css")">
	<script type="text/javascript">
		$(function(){
			
	   	});
	</script>
	<div class="dash-detail-header">
		<p class="title">Document Format</p>
	</div>
	<div class="dash-block">	
		<div class="dash-tab-header">
			<ul class="tab-bar">
				<li>
					<a class="tab-link">BCA</a>
				</li>
				<li class="active">
					<a class="tab-link">MOM</a>
				</li>
				<li>
					<a class="tab-link">PUB</a>
				</li>
				<li>
					<a class="tab-link">SCDF</a>
				</li>
				<li>
					<a class="tab-link">OTHERS</a>
				</li>
			</ul>
		</div>
		<div class="format-content">
			<div class="doc-item">
				<p class="doc-title">Inspection Checklist</p>
				<div class="row">
					@for(index <- 0 until docFormats.size){
						@if(docFormats(index).docType == "checklist"){
							<div class="col col-xs-6 col-md-3 col-sm-3">
				            <div class="doc-wrap">	
				            	<a target="_blank" class="doc-preview link-img" href="@docFormats(index).partialUrl" style="background-image:url(@routes.CompanyController.downloadDocThumbnail(docFormats(index).uuid))"></a>
			            		<span class="caption"><span>@docFormats(index).workType.capitalize</span><span> </span><span>@docFormats(index).docType.capitalize</span></span>
			            	</div>
			            </div>
						}
		            }
		        </div>
			</div>
	        
	        <div class="doc-item">
		        <p class="doc-title">Certificate of Supervision (COS)</p>
				<div class="row">
					@for(index <- 0 until docFormats.size){
						@if(docFormats(index).docType == "cos"){
							<div class="col col-xs-6 col-md-3 col-sm-3">
				            <div class="doc-wrap">	
				            	<a target="_blank" class="doc-preview link-img" href="@docFormats(index).partialUrl" style="background-image:url(@routes.CompanyController.downloadDocThumbnail(docFormats(index).uuid))">
			            		</a>
			            		<span class="caption"><span>@docFormats(index).workType.capitalize</span><span> </span><span>@docFormats(index).docType.capitalize</span></span>
			            	</div>	
			            </div>
						}
		            }
		        </div>
	        </div>
		</div>
	</div>	
	
	
}