<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>E-SPECTOR - Landing Page</title>
    
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/froala/font-awesome.min.css")">
    
    <script src="@routes.Assets.versioned("javascripts/jquery-1.12.4.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/jquery.validate.min.js")" type="text/javascript"></script>
</head>
<body id="page-top" class="landing-page">
	<div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.AuthController.loginPage()">E-SPECTOR</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">Home</a></li>
                        <li><a class="page-scroll" href="#features">Modules</a></li>
                        <li><a class="page-scroll" href="#testimonials">Testimonials</a></li>
                        <li><a class="page-scroll" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
	</div>
    <div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#inSlider" data-slide-to="0" class="active"></li>
            <li data-target="#inSlider" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Project quality<br/>and progress control<br/>at a clean glance</h1>
                        <p>Connect, automate and accurate</br>for your construction business</p>
                        <p>
                            <a class="btn btn-lg btn-success" href="@routes.AuthController.loginPage()" role="button">SIGN IN</a>
                            <a class="caption-link" href="#" role="button">Try For Free</a>
                        </p>
                    </div>
                    <div class="carousel-image wow zoomIn">
                        <img src="/assets/images/laptop.png" alt="laptop"/>
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back one"></div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Request for inspection<br/>& issue cos<br/>on the go</h1>
                        <p>Connect, automate and accurate</br>for your construction business</p>
                        <p>
                            <a class="btn btn-lg btn-success" href="@routes.AuthController.loginPage()" role="button">SIGN IN</a>
                            <a class="caption-link" href="#" role="button">Try For Free</a>
                        </p>
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back two"></div>
            </div>
        </div>
        <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <section id="features" class="container services">
        <div class="row">
            <div class="col-sm-3">
                <h2>fast</h2>
                <p>Automate your quality inspection workflow, including request for inspection, streamline the checklist, and issue a COS</p>
            </div>
            <div class="col-sm-3">
                <h2>precise</h2>
                <p>Auto drop down lists and completion guides with file-specific instruction ensure the inspection flowcharts are meet Singapore Building & Construction Act accordingly</p>
            </div>
            <div class="col-sm-3">
                <h2>easy</h2>
                <p>Cloud based calculation & drawings management are accessible anytime anywhere</p>
            </div>
            <div class="col-sm-3">
                <h2>mobile</h2>
                <p>Request inspection, proceed inspection and issue COS on the go</p>
            </div>
        </div>
    </section>
    <section  class="container features">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>50+ RFI, Checklist and COS formats<br/> <span class="navy">with customised components</span> </h1>
                <p>We tailor made the RFI, checklist and COS</br>to meet the Singapore Authority requirements for construction sites.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center wow fadeInLeft">
                <div>
                    <i class="fa fa-bank features-icon"></i>
                    <h2>5 Authorities/Agencies</h2>
                    <p>Pre-set format of RFI, checklist and COS are tailor made to meet BCA, MOM, LTA, PUB and SCDF default formats.</p>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-users features-icon"></i>
                    <h2>All Parties connected</h2>
                    <p>Client, Contractor, Consultant (Design), Consultant (Supervision) are connected and follow the work flow via hand phone exactly like what they are doing right now in traditional way.</p>
                </div>
            </div>
            <div class="col-md-6 text-center  wow zoomIn">
                <img src="/assets/images/perspective.png" alt="dashboard" class="img-responsive">
            </div>
            <div class="col-md-3 text-center wow fadeInRight">
                <div>
                    <i class="fa fa-bar-chart features-icon"></i>
                    <h2>20+ Workflows</h2>
                    <p>Including as many as standard workflows: Request for COS of MOM works, RFI for LTA works, Daily report, ERSS Annex C, D & E, GBW, road opening, and so on…</p>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-check-square-o features-icon"></i>
                    <h2>All activities on track</h2>
                    <p>Activities and route are recorded for all inspection. Every issued COS with Bar Code to verify. Email and notification to remind the user in time.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonials" class="navy-section testimonials" style="margin-top: 0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wow zoomIn">
                    <i class="fa fa-comment big-icon"></i>
                    <h1>Never lose control. Never lost record.</h1>
                    <div class="testimonials-text">
                        <i>The most customisable and efficient tool for construction in Singapore. E-Spector record every inspection with photo and inspector involved. Your COS (certificate of supervision) would always come with photos and checklist automatically.</i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="comments gray-section" style="margin-top: 0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>What our users said</h1>
                    <p>Hear how E-Spector help the construction man, consultant and client in real world.</p>
                </div>
            </div>
            <div class="row features-block">
                <div class="col-lg-4">
                    <div class="bubble">
                        "The simplicity of E-Spector allow us to implement it to site promptly. My engineer could well manage the project drawings, RFI and COS with E-spector. We reduce almost 50% time for each inspection from raise to completion."
                    </div>
                    <div class="comments-avatar">
                        <a href="" class="pull-left">
                            <img alt="image" src="/assets/images/default_avatar.png">
                        </a>
                        <div class="media-body">
                            <div class="commens-name">
                                Pei Jian
                            </div>
                            <small class="text-muted">Project Manager, A1 Contractor</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bubble">
                        "E-Spector team is very responsive to our requirements. The solution provides me the best way to monitor the construction site. It facilitate a efficient way for PE to oversee their site inspectors putting enough effort on quality control."
                    </div>
                    <div class="comments-avatar">
                        <a href="" class="pull-left">
                            <img alt="image" src="/assets/images/default_avatar.png">
                        </a>
                        <div class="media-body">
                            <div class="commens-name">
                                Michael Wong
                            </div>
                            <small class="text-muted">Professional Engineer, Consultant</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bubble">
                        "My project team monitor the progress closely thorough E-Spector, which able to trace every RFI (request for inspection) status. The Contractor and Consultant(supervision) resolve the COS for temp work or site discrepancy promptly after implemented E-Spector."
                    </div>
                    <div class="comments-avatar">
                        <a href="" class="pull-left">
                            <img alt="image" src="/assets/images/default_avatar.png">
                        </a>
                        <div class="media-body">
                            <div class="commens-name">
                                Elbert Tiong
                            </div>
                            <small class="text-muted">Senior Project Manager, Public Service</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section  class="container features">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Try E-Spector Today for Free</h1>
                <p>One click on your hand, one step ahead your industrial</p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-6 features-text wow fadeInLeft">
                <small>E-SPECTOR</small>
                <h2>Request a Free Demo</h2>
                <p>Tell us a bit more about your business to let us serve you better.</p>
                <a href="" class="btn btn-success m-t-lg">Try for Free</a>
            </div>
            <div class="col-lg-6 text-right wow fadeInRight">
                <img src="/assets/images/dashboard.png" alt="dashboard" class="img-responsive pull-right">
            </div>
        </div>
    </section>
    <section id="contact" class="gray-section contact">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Contact Us</h1>
                    <p>Technologies Empower Construction</p>
                </div>
            </div>
            <div class="row m-b-lg">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="text-color m-b-lg">
                         <strong><span class="navy" style="font-size: 18px;">G TOP INTERNATIONAL PTE LTD</span></strong>
                    </p>
                    <p class="text-color text-justify">
                        Our have in-house construction consultation team and IT development team know the industrial need very well. Except E-Spector, our team provide customisation solution for construction industrial, e.g. worker management system, vehicle management system, safety management system and so on. Tell us what you need, we could customise for you!
                    </p>
                </div>
                <div class="col-lg-3 col-lg-offset-1">
                    <address>
                        <strong><span class="navy">Construction Consultation Team:</span></strong><br/>
                        5001 Beach Road #07-01<br/>
                        Golden Mile Complex<br/>
                        Singapore 199588<br/>
                        HP: +65 8499 4768
                    </address>
                    <address>
                        <strong><span class="navy">IT Development Team:</span></strong><br/>
                        JTC LaunchPad@@One-North<br/>
                        #04-01/02, NTUitive<br/>
                        Singapore 139955<br/>
                        HP: +65 9774 2894
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="" class="btn btn-success">Drop us an Email</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                    <p><strong>&copy; 2017 G TOP INTERNATIONAL PTE LTD</strong></p>
                </div>
            </div>
        </div>
    </section>

    <script>

        $(document).ready(function () {

            $('body').scrollspy({
                target: '.navbar-fixed-top',
                offset: 80
            });

            // Page scrolling feature
            $('a.page-scroll').bind('click', function(event) {
                var link = $(this);
                $('html, body').stop().animate({
                    scrollTop: $(link.attr('href')).offset().top - 50
                }, 500);
                event.preventDefault();
                $("#navbar").collapse('hide');
            });
        });

        var cbpAnimatedHeader = (function() {
            var docElem = document.documentElement,
                    header = document.querySelector( '.navbar-default' ),
                    didScroll = false,
                    changeHeaderOn = 200;
            function init() {
                window.addEventListener( 'scroll', function( event ) {
                    if( !didScroll ) {
                        didScroll = true;
                        setTimeout( scrollPage, 250 );
                    }
                }, false );
            }
            function scrollPage() {
                var sy = scrollY();
                if ( sy >= changeHeaderOn ) {
                    $(header).addClass('navbar-scroll')
                }
                else {
                    $(header).removeClass('navbar-scroll')
                }
                didScroll = false;
            }
            function scrollY() {
                return window.pageYOffset || docElem.scrollTop;
            }
            init();

        })();

    </script>

</body>
</html>
