@scripts = {
	<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/froala/font-awesome.min.css")">
}

@main(scripts, "Login"){
<script type="text/javascript">
		$(function(){
			$("#login-form").validate({
		        rules: {
		            title:{
		            	email: true,
		            	required:true
		            },
		            password:{
		            	required:true
		            }
		        },
		        highlight: function (element) {
		            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
		        },
		        unhighlight: function (element) {
		            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
		        },
		        submitHandler: function(form) {
		        	var spinner = $('<i class="glyphicon glyphicon-refresh glyphicon-spinner spinner login-spinner"></i>');
		        	$('#login-btn').after(spinner);
		        	$('#login-btn').attr("disabled", true);
		        
		        	$.ajax({
		                url: "@routes.AuthController.login()",
		                type: "POST",
		                data: $(form).serialize(),
		                success: function(response, status) {
			                	var data = $.parseJSON(JSON.stringify(response));
			                	if(data.code != 0){
			                		showAlertToast(data.message, "alert-danger");
			                	}else{
			                		if(data.data.accType === "SADMIN"){
			                			location.assign("@routes.CompanyController.companys()");
			                		}else if(data.data.accType === "ADMIN"){
			                			location.assign("@routes.CompanyController.company()");
			                		}else if(data.data.accType === "QP"){
			                			location.assign("@routes.ProjectController.projectOfEngineer()");
			                		}else if(data.data.accType === "INSPECTOR"){
			                			location.assign("@routes.ProjectController.projectOfEngineer()");
			                		}
			                	}
			                	spinner.remove();
			                	$('#login-btn').attr("disabled", false);
		                },
		                error: function(request, status, err){
			                	showAlertToast(err, "alert-danger");
			                	spinner.remove();
			                	$('#login-btn').attr("disabled", false);
		                }
		            });
		        }
		    });
		});
	</script>
	<div class="login-content">
		<div class="login-form-wrapper">
			<div class="text-center">
				<i id="login-icon" class="fa fa-search"></i>
			</div>
			<p class="text-center">Welcome to E-SPECTOR</p>
			<form id="login-form">
				<div class="line-form">
	      			<input type="text" name="email" placeholder="@messages.at("login")">
				</div>
				<div class="line-form">
	      			<input type="password" name="password" placeholder="@messages.at("password")">
				</div>
				<div class="btn-gp">
					<input id="login-btn" class="btn-success" type="submit" value="Login">
				</div>
			</form>
		</div>
	</div>
}























