@import tags._

@(project: Project, locations: List[String])

@scripts = {
	<script>
		$(function(){
			
		});
	</script>
}

@main(scripts, "COS Request"){
	<div class="cos-bg">
		<div class="a4">		
			<p class="cos-header center">Request for COS</p>
			
			<section id="cos-basic">
				<p class="cos-subheader">Project Title</p>
				<p class="cos-content">@project.title</p>
				
				<p class="cos-subheader">Location</p>
				<div class="form-group">
					<div class="form-input">
				 		@for(index <- 0 until locations.size){
				 			<label class="subject-lbl selected">
							   	<input type="radio" name="isCivil" class="form-control" value="@if(locations(index) != null){@locations(index)}" checked>
								<a class="radio-box">@locations(index)
									<i class="icon-check"></i>
								</a>
							</label>
					 	}
					</div>
				</div>
			</section>
		</div>
	</div>
}